<%
=begin%>
    This file is for the applicants of the hackathon and displays the form for a person's application within the browser. 
    It prompts the user for their information and collects it like name or age etc.
    It also includes the event waiver liability agreement.
    Before an applicant can fill out the application it ensures that the user doesn't have javascript disabled.
<%
=end%>
<script>
window.MIN_RESUME_AGE = <%= HackumassWeb::Application::EVENT_APPLICATION_OPTIONS['min_resume_age'] or 0 %>;
</script>
<style>
.resume:after {
  content: '' !important;
}
/* .resume-optional:after {
  content: ' (Note: this is optional because you are under age <%= HackumassWeb::Application::EVENT_APPLICATION_OPTIONS['min_resume_age'] or 0 %>.) ';
} */
</style>
<div class="card-body">
  <noscript>
    Hello, <%= current_user.first_name %>! Wow, you're clearly an next-level haxor
    if you have Javascript disabled. In order to ensure that everything functions
    properly during sign up, please enable javascript for the duration of the sign up.
    <br />
    Our code is open source, so you should be able to see that we aren't hiding anything sketchy :)
    <br />
    Thank you and we hope you see at <%= HackumassWeb::Application::HACKATHON_NAME %>!
  </noscript>

   <div id="javascript-container">
    <%= form_for(@application, html: {multipart: true}) do |f| %>
      <label class="event-application-required-field event-application-flex-end-container">
        Indicates required field &nbsp;
      </label>

      <div class="form-group">
        <%= f.label :name,
                    'Full Name:',
                    class: 'form-label event-application-required-field' %>
        <%= f.text_field :name,
                         class: 'form-control' %>
      </div>

      <div class="form-group event-application-form-group">
        <%= f.label :phone,
                    'Phone:',
                    class: 'form-label event-application-required-field' %>
        <%= f.text_field :phone,
                         class: 'form-control',
                         maxlength: 10,
                         onkeyup:'autoFormatPhoneNum()' %>
      </div>

      <div class="form-group">
        <%= f.label :age,
                    'Age:',
                    class: 'form-label event-application-required-field' %>
        <%= f.select :age,
                     (14..99).map { |i| i.to_s},
                     {include_blank: true},
                     {class: 'form-control custom-select', 'onblur': 'updateAge()', 'onchange': 'updateAge()'} %>
      </div>

      <div class="form-group">
       <%= f.label :gender,
                   'What is your gender?',
                   class: 'form-label' %>
       <%= f.select :gender,
                    ['Female', 'Non-Binary', 'Male', 'Other', 'No-Answer'],
                    {include_blank: true},
                    {class: 'form-control custom-select'} %>
      </div>

      <div class="form-group">
        <%= f.label :education_lvl,
                    'What is your level of study?',
                    class: 'form-label event-application-required-field' %>
        <%= f.select :education_lvl,
                     ["Less than Secondary / High School", "Secondary / High School", "Undergraduate University (2 year - community college or similar)", "Undergraduate University (3+ year)", "Graduate University (Masters, Professional, Doctoral, etc)", "Code School / Bootcamp", "Other Vocational / Trade Program or Apprenticeship", "Post Doctorate", "Other ", "I’m not currently a student ", "Prefer not to answer"],
                     {include_blank: true},
                     {class: 'form-control custom-select'} %>
      </div>

      <div class="form-group">
        <%= f.label :university,
                    'School:',
                    class: 'form-label event-application-required-field' %>

        <%= f.text_field :university,
                         class: 'form-control',
                         placeholder: 'Enter your University or High School',
                         data: {autocomplete: autocomplete_university_name_event_applications_path}%>
      </div>

      <div class="form-group">
        <%= f.label :major,
                    'Major:',
                    class: 'form-label event-application-required-field' %>

        <%= f.text_field :major,
                         class: 'form-control',
                         placeholder: 'Please list your major or N/A if you are still in High School',
                         data: {autocomplete: autocomplete_major_name_event_applications_path} %>
      </div>

      <div class="form-group">
        <%= f.label :food_restrictions,
                    'Do you have any food allergies or dietary restrictions that we should know about?:',
                    class: 'form-label event-application-required-field' %>
        <div class="custom-controls-stacked">
          <label class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :food_restrictions,
                               true,
                               class: 'custom-control-input',
                               onclick: 'toggleHiddenField(\'event_application_food_restrictions_info\', \'event_application_food_restrictions_true\')' %>
            <span class="custom-control-label">Yes</span>
          </label>
          <label class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :food_restrictions,
                               false,
                               class: 'custom-control-input',
                               onclick: 'toggleHiddenField(\'event_application_food_restrictions_info\', \'event_application_food_restrictions_true\')' %>
            <span class="custom-control-label">No</span>
          </label>
        </div>
      </div>

      <div class="form-group event-application-hidden">
        <%= f.label :food_restrictions_info,
                    raw('Please list your dietary restrictions and allergies<noscript>, if you answer yes</noscript>:'),
                    class: 'form-label' %>
        <%= f.text_area :food_restrictions_info,
                        rows: '5',
                        class: 'form-control text-box',
                        onkeyup: 'charCounter(1)' %>
        <div class="form-label-small event-application-flex-end-container text-box-counter">
          0 of 500
        </div>
      </div>

      <div class="form-group">
        <%= f.label :t_shirt_size,
                    'T-Shirt Size:',
                    class:'form-label event-application-required-field' %>
        <%= f.select :t_shirt_size,
                     ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
                     {include_blank: true},
                     {class: 'form-control custom-select'} %>
      </div>


      <div class="form-group">
        <%= f.label :resume,
                    "Résumé: (Uploading a résumé is optional and may be shared with sponsors. Please only upload a .pdf document that is under 2MB.)",
                    class: 'form-label' %>
        <div class="custom-file">
          <%= f.file_field :resume, class:'custom-file-input', onchange: 'updateResumeFileLabel()' %>
          <label class="custom-file-label">
            Choose file
          </label>
        </div>
      </div>

      <% HackumassWeb::Application::EVENT_APPLICATION_CUSTOM_FIELDS.each do |c| %>
        <%= f.fields_for :custom_fields, OpenStruct.new(@application.custom_fields) do |o| %>
          <div class="form-group<% if c['hidden'] %> event-application-hidden<% end %>">
            <%= o.label c['name'].to_sym,
                        "#{c['label']}",
                        class: c['required'] ? 'form-label event-application-required-field' : 'form-label' %>
            <% if c['type'] == 'select' %>
              <%= o.select c['name'].to_sym,
                          c['options'],
                          {include_blank: true},
                          {class: 'form-control custom-select'} %>
            <% elsif c['type'] == 'multiselect' %>
              <div class='custom-controls-stacked'>
                <% c['options'].each do |option| %>
                  <label class="custom-control custom-checkbox">
                    <%= o.check_box c['name'].to_sym,
                                    {multiple: true},
                                    option,
                                    nil %> <%= option %>
                  </label>
                <% end %>
              </div>
            <% elsif c['type'] == 'boolean' %>
              <div class="custom-controls-stacked">
                <label class="custom-control custom-radio custom-control-inline">
                  <%= o.radio_button c['name'].to_sym,
                                    true,
                                    class: 'custom-control-input',
                                    onclick: c['toggle_field'] ? "toggleHiddenField(\"event_application_custom_fields_#{c['toggle_field']}\", \"event_application_custom_fields_#{c['name']}_true\")" : "" %>
                  <span class="custom-control-label">Yes</span>
                </label>
                <% unless c['only_yes'] %>
                  <label class="custom-control custom-radio custom-control-inline">
                    <%= o.radio_button c['name'].to_sym,
                                      false,
                                      class: 'custom-control-input',
                                      onclick: c['toggle_field'] ? "toggleHiddenField(\"event_application_custom_fields_#{c['toggle_field']}\", \"event_application_custom_fields_#{c['name']}_true\")" : "" %>
                    <span class="custom-control-label">No</span>
                  </label>
                <% end %>
              </div>
            <% elsif c['type'] == 'textarea' %>
              <%= o.text_area c['name'].to_sym,
                        rows: '5',
                        class: 'form-control text-box',
                        onkeyup: 'charCounter()' %>
              <div class="form-label-small event-application-flex-end-container text-box-counter">
                0 of <%= c['max_chars'] or 500 %>
              </div>
            <% else %>
              <%= o.text_field c['name'].to_sym,
                                class: 'form-control' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% unless HackumassWeb::Application::EVENT_APPLICATION_OPTIONS['hide_event_toc'] %>  
        <div class="form-group event-application-form-group">
          <%= f.label :waiver_liability_agreement,
                      "Please agree to the following Terms & Conditions for #{HackumassWeb::Application::HACKATHON_NAME} #{HackumassWeb::Application::HACKATHON_VERSION}:",
                      class: 'form-label event-application-required-field' %>
          <%= f.check_box :waiver_liability_agreement, {}, true, false %>
          <%= render file: HackumassWeb::Application::copy_for('event_applications/form_liability_agreement') %>
        </div>
      <% end %>

      <% unless HackumassWeb::Application::EVENT_APPLICATION_OPTIONS['hide_mlh_toc'] %>  
        <div class="form-group event-application-form-group">
          <%= f.label :mlh_agreement,
                      'Please agree to the following MLH Terms & Conditions:',
                      class: 'form-label event-application-required-field' %>
          <%= f.check_box :mlh_agreement, {}, true, false %>
          <%= render file: HackumassWeb::Application::copy_for('event_applications/form_liability_mlh') %>
        </div>
      <% end %>

      <% unless HackumassWeb::Application::EVENT_APPLICATION_OPTIONS['hide_mlh_comms'] %>  
        <div class="form-group event-application-form-group">
          <%= f.label :mlh_communications,
                      '[OPTIONAL] Communication from MLH: :',
                      class: 'form-label' %>
          <%= f.check_box :mlh_communications, {}, true, false %>
          <%= render file: HackumassWeb::Application::copy_for('event_applications/form_communications_mlh') %>
        </div>
      <% end %>

      <% if editing_application? %>
        <div class="event-application-flex-end-container">
          <%= f.submit 'Update Application',
                       type: 'submit',
                       class: 'btn btn-purple bg-primary-color' %>
        </div>
      <% else %>
        <div class="event-application-flex-end-container">
          <%= f.submit 'Submit Application',
                       type: 'submit',
                       class: 'btn btn-purple bg-primary-color' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
