<%= form_for(@event_application, :html => {multipart: true, class: "form-horizontal"}) do |f| %>

  <%# Error Panel %>
  <% if @event_application.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@event_application.errors.count, "error") %> prohibited this application from being submitted:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @event_application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%# Application Panel %>
  <div class="panel panel-default">
    <div class="panel-body">

      <%# Name Field %>
      <div class="form-group">
        <%= f.label :name, "Full Name: ", {class: "col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.text_field :name, {class: "form-control"} %>
        </div>
      </div>

      <%# Email Field %>
      <div class="form-group">
        <%= f.label :email, "Email: ", {class: "col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.text_field :email, {class: "form-control"} %>
        </div>
      </div>

      <%# Phone Field %>
      <div class="form-group">
        <%= f.label :phone, "Phone: ", {class: "col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.text_field :phone, {class: "form-control", placeholder: ""} %>
        </div>
      </div>

      <%# Age Field %>
      <div class="form-group">
        <%= f.label :age, "Age: ", {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.select :age, [" "].concat((1..100).map {|i| i.to_s}), {class: "form-control", id: "select"} %>
        </div>
      </div>

      <%# Sex Field %>
      <div class="form-group">
        <%= f.label :sex, "Sex: ", {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.select :sex, [" ", "Male", "Female"], {class: "form-control", id: "select"} %>
        </div>
      </div>

      <%# University Field %>
      <div class="form-group">
        <%= f.label :university, "University: ", {class: "col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.text_field :university, class: "form-control" %>
        </div>
      </div>

      <%# Major Field %>
      <div class="form-group">
        <%= f.label :major, "Major: ", {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <%= f.text_field :major, class: "form-control" %>
        </div>
      </div>

      <%# Graduation Year Field %>
      <div class="form-group">
        <%= f.label :grad_year, "Graduation Year: ", {class:"col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.select :grad_year, [" "].concat(((1960..2025).map {|i| i.to_s}).reverse!), {class: "form-control", id: "select"} %>
        </div>
      </div>

      <%# Food Restrictions Field %>
      <div class="form-group">
        <%= f.label :food_restrictions, "Do you have any food allergies or dietary restrictions?: ", {class:"col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <div class="radio">
            <label>
              <%= f.radio_button :food_restrictions, true, id:"optionsRadios1", onclick:"unhideField('food_restrictions_info')" %>
              <%= "Yes" %>
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :food_restrictions, false, id:"optionsRadios2", onclick:"hideField('food_restrictions_info')" %>
              <%= "No" %>
            </label>
          </div>
        </div>
      </div>

      <div id="food_restrictions_info" style="display:none">
        <div class="form-group">
          <%= f.label :food_restrictions_info, "Please list your dietary restrictions and allergies: ", {class: "col-lg-2 control-label"} %><br>
          <div class="col-lg-10">
            <%= f.text_area :food_restrictions_info, class: "form-control", rows: "3", id: "textArea" %>
          </div>
        </div>
      </div>
      
      <%# T-Shirt Size Field %>
      <div class="form-group">
        <%= f.label :t_shirt, "T-Shirt Size: ", {class:"col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.select :t_shirt, [" ", "XS", "S", "M", "L", "XL", "XXL"], {class: "form-control", id: "select"} %>
        </div>
      </div>
      
      <%# Resume File Field %>
      <div class="form-group">
        <%= f.label :resume, "Resume: ", {class: "col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.file_field :resume %>
        </div>
      </div>
      
      <%# Linkedin Field %>
      <div class="form-group">
        <%= f.label :linkedin, "Linkedin: ", {class: "col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.url_field :linkedin, class: "form-control" %>
        </div>
      </div>

      <%# Github Field %>
      <div class="form-group">
        <%= f.label :github, "Github: ", {class: "col-lg-2 control-label"}%>
        <div class="col-lg-10">
          <%= f.url_field :github, class: "form-control" %>
        </div>
      </div>
      
      <%# Previous Hackathon Attendance Field %>
      <div class="form-group">
        <%= f.label :previous_hackathon_attendance, "Have you been to a hackathon before?: ", {class:"col-lg-2 control-label"} %>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <%= f.radio_button :previous_hackathon_attendance, true, id:"optionsRadios1" %>
                <%= "Yes" %>
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :previous_hackathon_attendance, false, id:"optionsRadios2" %>
                <%= "No" %>
              </label>
            </div>
          </div>
      </div>
      
      <%# Transportation Field %>
      <div class="form-group">
        <%= f.label :transportation, "Will you need transportation to UMass?: ", {class:"col-lg-2 control-label"} %>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <%= f.radio_button :transportation, true, id:"optionsRadios1", onclick:"unhideField('transportation_location')" %>
                <%= "Yes" %>
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :transportation, false, id:"optionsRadios2", onclick:"hideField('transportation_location')" %>
                <%= "No" %>
              </label>
            </div>
          </div>
      </div>

      <div id="transportation_location" style="display:none">
        <div class="form-group">
          <%= f.label :transportation_location, "If you answered yes, please tell use from where: ", {class: "col-lg-2 control-label"}%>
          <div class="col-lg-10">
            <%= f.text_field :transportation_location, class: "form-control" %>
          </div>
        </div>
      </div>
      
      <%# Programmer Type Field %>
      <div class="form-group">
        <%= f.label :programmer_type_list, "Hacker Type (select all that apply): ", {class: "col-lg-2 control-label"} %>
        <div class="col-lg-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :programmer_type_list, {multiple: true},"Web Developer", nil %>
              <%= "Web Developer" %>
            </label><br>
            <label>
              <%= f.check_box :programmer_type_list, {multiple: true},"Application Developer", nil %>
              <%= "Application Developer" %>
            </label>
          </div>
        </div>
      </div>
      
      <%# Programmer Skills Field %>
      <div class="form-group">
        <%= f.label :programming_skills_list, "Programming Skills (select all that apply): ", {class: "col-lg-2 control-label"} %><br>
        <div class="col-lg-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "HTML/CSS",nil%>
              <%= "HTML/CSS" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "Javascript/NodeJS",nil %>
              <%= "Javascript/NodeJS" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "PHP",nil %>
              <%= "PHP" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "SQL",nil %>
              <%= "SQL" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "Ruby",nil %>
              <%= "Ruby" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "Java",nil %>
              <%= "Java" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "Kotlin",nil %>
              <%= "Kotlin" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "Swift",nil %>
              <%= "Swift" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "Objective C",nil %>
              <%= "Objective C" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "C/C++/C#",nil %>
              <%= "C/C++/C#" %>
            </label><br>
            <label>
              <%= f.check_box :programming_skills_list, {multiple: true}, "Python",nil %>
              <%= "Python" %>
            </label><br>
          </div>
        </div>
      </div>
      
      <%# Are You Interested in Hardware Hacks Field %>
      <div class="form-group">
        <%= f.label :interested_in_hardware_hacks, "Are you interested in hardware hacks?: ", {class:"col-lg-2 control-label"} %>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <%= f.radio_button :interested_in_hardware_hacks, true, id:"optionsRadios1", onclick:"unhideField('interested_hardware_hacks_list')" %>
                <%= "Yes" %>
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :interested_in_hardware_hacks, false, id:"optionsRadios2", onclick:"hideField('interested_hardware_hacks_list')" %>
                <%= "No" %>
              </label>
            </div>
          </div>
      </div>

      <div id="interested_hardware_hacks_list" style="display:none">
        <div class="form-group">
          <%= f.label :interested_hardware_hacks_list, "Select the hardware hacks that you are interested in: ", {class:"col-lg-2 control-label"} %><br>
          <div class="col-lg-10">
            <div class="radio">
              <label>
              <%= f.check_box :interested_hardware_hacks_list, {multiple: true}, "Microprocessor",nil%>
              <%= "Microprocessor" %>
              </label><br>
              <label>
              <%= f.check_box :interested_hardware_hacks_list, {multiple: true}, "Microcontroller",nil %>
              <%= "Microcontroller" %>
              </label><br>
              <label>
              <%= f.check_box :interested_hardware_hacks_list, {multiple: true}, "Robotics",nil %>
              <%= "Robotics" %>
              </label><br>
              <label>
              <%= f.check_box :interested_hardware_hacks_list, {multiple: true}, "3D-Printing",nil %>
              <%= "3D-Printing" %>
              </label><br>
            </div>
          </div>
        </div>
      </div>

      <%# How Did You Hear About HackUMass Field %>
      <div class="form-group">
        <%= f.label :how_did_you_hear_about_hackumass, "How did you hear about HackUMass?: ", {class: "col-lg-2 control-label"} %><br>
        <div class="col-lg-10">
          <%= f.text_area :how_did_you_hear_about_hackumass, class: "form-control", rows: "3", id: "textArea" %>
        </div>
      </div>
      
      <%# Future Hardware For HackUMass Field %>
      <div class="form-group">
        <%= f.label :future_hardware_for_hackumass, "What hardware do you want to see at HackUMass V or future HackUMass?: ", {class: "col-lg-2 control-label"} %><br>
        <div class="col-lg-10">
          <%= f.text_area :future_hardware_for_hackumass, class: "form-control", rows: "3", id: "textArea" %>
        </div>
      </div>     
      
      <%# Waiver & Liability Agreement Field %>
      <div class="form-group">
        <%= f.label :waiver_liability_agreement, "Please agree to the following Waiver & Liability documents: ", {class:"col-lg-2 control-label"} %>
         <div class="col-lg-10">
          <div class="checkbox">
            <label> 
            <%= f.check_box :waiver_liability_agreement,{}, true, false %>
            <%= "Agree to the Terms & Conditions" %>
            </label>
          </div>
        </div>  
      </div>

      <%# Sumbit Button%>
      <div class:"form-control" style="float:right">
        <%= f.submit "Submit Application", type: "submit", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
<% end %>
