<p id="notice"><%= notice %></p>

<h1>Event Applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>University</th>
      <th>Major</th>
      <th>Grad year</th>
      <th>Food restrictions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_applications.each do |event_application| %>
      <tr>
        <td><%= event_application.user_id %></td>
        <td><%= event_application.name %></td>
        <td><%= event_application.university %></td>
        <td><%= event_application.major %></td>
        <td><%= event_application.grad_year %></td>
        <td><%= event_application.food_restrictions %></td>
        <td><%= link_to 'Show', event_application %></td>
        <td><%= link_to 'Edit', edit_event_application_path(event_application) %></td>
        <td><%= link_to 'Destroy', event_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Application', new_event_application_path %>
