<!-- This calculates the amount  of all applicants in order to display an even amount on each page -->

<div class="row align-items-center">
  <div class="page-header col-sm-4">
      <h1 class="page-title">Event Registration</h1>
  </div>
  <div class="col text-right">
    <% if current_user.is_admin? %>
    <%= link_to application_mode_event_applications_path do %>
      <span class="btn btn-primary"><i class="fe fe-settings"></i> Set Registration Mode</span>
    <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if check_feature_flag?($CheckIn) %>
    <div class="col-sm-6 col-lg-4">
      <div class="card p-3">
        <div class="d-flex align-items-center" style="margin-bottom: 10px">
          <span class="stamp stamp-md bg-green mr-3">
            <i class="fe fe-user-check"></i>
          </span>
          <div>
            <h4 class="m-0"><%= User.where(:check_in => true).count%></h4>
            <small class="text-muted">Checked In Users</small>
          </div>
        </div>
        <%= line_chart @check_in_chart %>
      </div>
    </div>
  <% else %>
    <div class="col-sm-6 col-lg-4">
      <div class="card p-3">
        <div class="d-flex align-items-center" style="margin-bottom: 10px">
          <span class="stamp stamp-md bg-gray mr-3">
            <i class="fe fe-user-check"></i>
          </span>
          <div>
            <h4 class="m-0"><%= User.all.count%></h4>
            <small class="text-muted">Registered Accounts</small>
          </div>
        </div>
        <%= line_chart @reg_chart %>
      </div>
    </div>
  <% end %>
    <div class="col-sm-6 col-lg-4">
      <div class="card p-3">
        <div class="d-flex align-items-center" style="margin-bottom: 10px">
          <span class="stamp stamp-md bg-purple mr-3">
            <i class="fe fe-user-check"></i>
          </span>
          <div>
            <h4 class="m-0"><%= EventApplication.all.count%></h4>
            <small class="text-muted">Registrations Count</small>
          </div>
        </div>
        <%= line_chart @app_chart %>
      </div>
    </div>


    <div class="col-sm-6 col-lg-4">
      <div class="card p-3">
        <div class="d-flex align-items-center" style="margin-bottom: 10px">
          <span class="stamp stamp-md bg-green mr-3">
            <i class="fe fe-user-check"></i>
          </span>
          <div>
            <h4 class="m-0"><%= User.where(:rsvp => true).count%></h4>
            <small class="text-muted">RSVP Count</small>
          </div>
        </div>
        <%= line_chart @rsvp_chart %>
      </div>
    </div>
  </div>
</div>

<div class="container card">
  <div class="card-body">
    <ul class="nav nav-tabs border-0 flex-column flex-lg-row event-application-flex-space-around">
      <li class="<%= 'active' if all_is_active?(params) %>">
        <a href="<%= event_applications_path %>">
          All <span class="tag tag-purple bg-primary-color"><%= @all_apps_count%></span></a>
      </li>

      <li class="<%= 'active' if undecided_is_active?(params) %>">
        <a href="<%= event_applications_path(status: 'undecided') %>">
          Undecided <span class="tag tag-secondary"><%= @undecided_count%></span></a>
      </li>

      <li class="<%= 'active' if accepted_is_active?(params) %>">
        <a href="<%= event_applications_path(status: 'accepted') %>">
          Accepted <span class="tag tag-success"><%= @accepted_count %></span></a>
      </li>

      <li class="<%= 'active' if waitlisted_is_active?(params) %>">
        <a href="<%= event_applications_path(status: 'waitlisted') %>">
          Waitlisted <span class="tag tag-warning"><%= @waitlisted_count %></span></a>
      </li>

      <li class="<%= 'active' if denied_is_active?(params) %>">
        <a href="<%= event_applications_path(status: 'denied') %>">
          Denied <span class="tag tag-danger"><%= @denied_count%></span></a>
      </li>

      <li class="<%= 'active' if rsvp_is_active?(params) %>">
        <a href="<%= event_applications_path(rsvp: true) %>">
          RSVP <span class="tag tag-success"><%= @rsvp_count %></span></a>
      </li>

      <li class="<%= 'active' if flagged_is_active?(params) %>">
        <a href="<%= event_applications_path(flagged: true) %>">
          Flagged <span class="tag tag-danger"> <%= @flagged_count%></span></a>
      </li>

    </ul>
  </div>

</div>

<div class="container card">
  <div class="card-body">
    <%= form_tag search_event_applications_path, method: :get, class:'col-lg-12' do %>
      <div class="row gutters-xs">
        <div class="col">
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for anything i.e. name, status, university, major etc.', :autofocus => true %>
        </div>
        <span class="col-auto">
          <%= submit_tag 'Search', name: nil, class: 'btn btn-secondary' %>
	  <a href="./event_applications.csv" class="btn btn-secondary">Download as CSV</a>
        </span>
      </div>
    <%end%>
  </div>
</div>


  <div class="container">
    <div class="row">
      <div class="card">
       <div class="card-body">

          <% if (!@posts.nil? and @posts.count > 0) %>
          <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
              <thead>
              <tr>
                <th>Status</th>
                <th>Name</th>
                <th>University</th>
                <th>Major</th>
              </tr>
              </thead>
              <tbody>
              <% @posts.each do |form| %>
                <% show_form = event_application_path(form) %>

                <tr class='table-row'>
                  <td>
                    <a class='table-link' href='<%= show_form %>'>
                      <% if form.status == 'undecided'%>
                        <span class="label label-info">
                      <% elsif form.status == 'accepted' %>
                        <span class="label label-success">
                      <% elsif form.status == 'denied' %>
                        <span class="label label-danger">
                      <% else form.status == 'waitlisted' %>
                        <span class="label label-warning">
                      <% end %>
                          <%= form.status.capitalize %>
                        </span>

                      <% if form.flag %>
                        <span class="tag tag-danger event-application-header-status-margin">
                          Flagged
                        </span>
                      <% end %>
                      <% if form.user.rsvp %>
                        <span class="tag tag-success event-application-header-status-margin">
                          RSVP
                        </span>
                      <% end %>
                    </a>
                  </td>
                  <td>
                    <a class='table-link' href='<%= show_form %>'>
                      <%= form.name.titleize %>
                    </a>
                  </td>
                  <td>
                    <a class='table-link' href='<%= show_form %>'>
                      <%= form.university.titleize %>
                    </a>
                  </td>
                  <td>
                    <a class='table-link' href='<%= show_form %>'>
                      <%= form.major.titleize %>
                    </a>
                  </td>
                  <td>
                    <a class='table-link' href='<%= show_form %>'>
                      <%= form.grad_year %>
                    </a>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>

          <% else %>
            <div class="panel panel-default">
              <div class="panel-body">
                <center>
                  <h4>No registrations found with that query...</h4>
                </center>
              </div>
            </div>

          <% end %>

          <br>
          <center>
            <%= will_paginate @posts %>
          </center>
        </div>

        </div>
      </div>
    </div>
  </div>
