<div class="form-group">
<legend>HackUMass Application</legend>
</div>
<div style="overflow:auto;">
<table class="table table-striped table-hover ">
<%= will_paginate @posts, class: 'pagination pagination-lg'%>
<thead style="text-align:center">
  <tr style="text-align:center">
    <th style="text-align:center">Status</th>
    <th style="text-align:center">Applicant Name</th>
    <th style="text-align:center">University</th>
    <th style="text-align:center">Major</th>
    <th style="text-align:center;">Graduation Year</th>
    <th style="text-align:center;">Transportation</th>
  </tr>
</thead>
<tbody>
<% @posts.each do |app| %>
  <% if app.application_status == "undecided"%>
    <tr class="active" style="text-align:center"  data-href="<%= event_application_path(app) %>">
  <% elsif app.application_status == "accepted"%>
    <tr class="success" style="text-align:center" data-href="<%= event_application_path(app) %>">
  <% elsif app.application_status == "denied"%>
    <tr class="danger" style="text-align:center" data-href="<%= event_application_path(app) %>">
  <% else app.application_status == "waitlisted"%>
    <tr class="warning" style="text-align:center" data-href="<%= event_application_path(app) %>">
  <% end %>
    <td><a href="<%= event_application_path(app) %>" style="color:black; text-decoration:none;"><%= app.application_status.capitalize %></a></td>
    <td><a href="<%= event_application_path(app) %>" style="color:black; text-decoration:none;"><%= app.name %></a></td>
    <td><a href="<%= event_application_path(app) %>" style="color:black; text-decoration:none;"><%= app.university %></a></td>
    <td><a href="<%= event_application_path(app) %>" style="color:black; text-decoration:none;"><%= app.major %></a></td>
    <td><a href="<%= event_application_path(app) %>" style="color:black; text-decoration:none;"><%= app.grad_year %></a></td>
    <td><a href="<%= event_application_path(app) %>" style="color:black; text-decoration:none;"><%= app.transportation %></a></td>
  </tr>
<%end%>
</tbody>
</table>
<%= will_paginate @posts, class:' pagination pagination-lg' %> 
</div>