<h1>Event Applications</h1>

<% @event_applications.each do |app| %>
<p>
    Applicant ID: <%=app.user_id %><br>
    Name: <%=app.name %><br>
    University: <%=app.university %><br>
    Major: <%=app.major %><br>
    Graduation Year: <%=app.grad_year %><br>
    Food Restrictions: <%=app.food_restrictions %><br>
</p>
<%= link_to "Edit", edit_event_application_path(app) %>
<%= link_to "Delete", event_application_path(app), method: :delete %>
<hr>
<% end %>

<%= link_to 'New Event Application', new_event_application_path %>
