<% @applicant = @event_application %>

<% if is_admin_or_organizer? %>
  <div id = 'button-container'>
    <%=
      link_to '<< Previous Applicant',
        event_application_path(@applicant.id-1),
      class: 'btn btn-default',
      id: 'prev-button'
    %>
    <%=
      link_to 'Next Applicant >>',
      event_application_path(@applicant.id+1),
      class: 'btn btn-default',
      id: 'next-button'
    %>
  </div><br/>
<% end %>

<%# Applicant's Status %>
<div class='panel panel-default'>
  <div class='panel-heading' id='status-bar'>
    <h3 class='panel-title'>
      <p id='status-text'>
        Status: <span class='label label-primary status-label'>
                  <%= @applicant.application_status.capitalize %>
                </span>
        <% if @applicant.flag && is_admin_or_organizer? %>
          <span class='label label-danger status-label'>Flag</span>
        <% end %>
      </p>
    </h3>
  </div>

  <%# Applicant's Info %>
  <div class ='panel-body'>

    <% if is_admin_or_organizer? %>
      <label class='required-field-key'>
        Required Fields for the Applicant
      </label>
    <% end %>

    <p class='required-field'>
      <label><b>Name: </b></label>
      <%= @applicant.name %>
    </p>

    <p class='required-field'>
      <label><b>Email: </b></label>
      <%= @applicant.email %>
    </p>

    <p>
      <label><b>Phone: </b></label>
      <%= @applicant.phone.empty? ? 'N/A' : @applicant.phone %>
    </p>

    <p class='required-field'>
      <label><b>Age: </b></label>
      <%= @applicant.age %>
    </p>

    <p class='required-field'>
      <label><b>Sex: </b></label>
      <%= @applicant.sex %>
    </p>

    <p class='required-field'>
      <label><b>University: </b></label>
      <%= @applicant.university %>
    </p>

    <p class='required-field'>
      <label><b>Major: </b></label>
      <%= @applicant.major %>
    </p>

    <p class='required-field'>
      <label><b>Graduation Year: </b></label>
      <%= @applicant.grad_year %>
    </p>

    <p class='required-field'>
      <label><b>Food Restrictions: </b></label>
      <%= @applicant.food_restrictions ? @applicant.food_restrictions_info : 'None' %>
    </p>

    <p class='required-field'>
      <label><b>T-Shirt Size: </b></label>
      <%= @applicant.t_shirt %>
    </p>

    <p>
      <label><b>Linkedin URL: </b></label>
      <%= @applicant.linkedin.empty? ? 'N/A' : @applicant.linkedin %>
    </p>

    <p>
      <label><b>Github URL: </b></label>
      <%= @applicant.github.empty? ? 'N/A' : @applicant.github %>
    </p>

    <p class='required-field'>
      <label><b>Have you been to a hackathon before?:</b></label>
      <%= @applicant.previous_hackathon_attendance ? 'Yes' : 'No'%>
    </p>

    <p class='required-field'>
      <label><b>Will you need transportation to UMass?:</b></label>
      <%= @applicant.transportation ? 'Yes' : 'No'%>
    </p>

    <% if @applicant.transportation %>
        <p>
          <label><b>Where do you need transportation from?</b></label>
          <%= @applicant.transportation_location%>
        </p>
    <% end %>


    <p>
      <label><b>Programming Skills: </b></label>
      <% if @applicant.programming_skills_list == '{}' %>
        <%= 'N/A '%>
      <% else %>
        <%= @applicant.programming_skills_list %>
      <% end %>
    </p>

    <p>
      <label><b>Hardware Skills: </b></label>
      <% if @applicant.hardware_skills_list == '{}' %>
        <%= 'N/A' %>
      <% else %>
        <%= @applicant.hardware_skills_list %>
      <% end %>
    </p>

    <p>
      <% if @applicant.interested_in_hardware_hacks %>
        <label><b>Interested hardware hacks: </b></label>
        <%= @applicant.interested_hardware_hacks_list %>
      <% else %>
        <label><b>Are you interested in hardware hacks?: </b></label>
        <%= 'No' %>
      <% end %>
    </p>

    <p>
      <label><b>How did you hear about HackUMass?: </b></label>
      <% if @applicant.how_did_you_hear_about_hackumass.empty? %>
        <%= 'N/A' %>
      <% else %>
        <%= @applicant.how_did_you_hear_about_hackumass %>
      <% end %>
    </p>

    <p>
      <label>
        <b>
          What hardware do you want to see at HackUMass V or future HackUMass?:
        </b>
      </label>
      <% if @applicant.future_hardware_for_hackumass.empty?  %>
        <%= 'N/A' %>
      <% else %>
        <%= @applicant.future_hardware_for_hackumass %>
      <% end %>
    </p>

    <% if is_admin_or_organizer? %>
      <%# Only show this field when the applicants disagrees to the
      Term & Conditions but the form is somehow still submitted. %>
      <% if !@applicant.waiver_liability_agreement %>
        <p class='required-field'>
          <span class='error'>
          <label><b>Terms & Condition: </b></label>
          <%= @applicant.waiver_liability_agreement ? 'AGREED' : 'DISAGREED' %>
          <span>
        </p>
      <% end %>

      <%= button_to 'Accept',
          {controller:'event_applications', action: 'status_updated',
          params: {new_status:'accepted', id: @applicant.user_id}},
          {class: 'btn btn-success btn-sm button'} %>

      <%= button_to 'Deny',
          {controller:'event_applications', action: 'status_updated',
          params: {new_status:'denied', id: @applicant.user_id}},
          {class: 'btn btn-danger btn-sm button'} %>

      <%= button_to 'Waitlist',
          {controller:'event_applications', action: 'status_updated',
          params: {new_status:'waitlisted', id: @applicant.user_id}},
          {class: 'btn btn-warning btn-sm button'} %>

      <% if @event_application.flag %>
        <%= button_to 'Unflag',
          {controller:'event_applications', action: 'unflag_application',
          params: {application: @event_application}},
          {class: 'btn btn-primary btn-sm button'} %>
      <% else %>
        <%= button_to 'Flag',
          {controller:'event_applications', action: 'flag_application',
          params: {application: @event_application}},
          {class: 'btn btn-primary btn-sm button'} %>
      <% end %>
    <% end %>

    <%# Needed to turn off turbo-link so that persistent works when editing the
    applicants form. %>
    <%= link_to 'Edit', edit_event_application_path(@applicant),
      {data: {turbolinks: false}, class: 'btn btn-default btn-sm button'} %>

  </div>
</div>

<div class="col-lg-12" style="padding: 20px">
  <a href="<%= @applicant.resume.url %>"  download="resume" class="btn btn-default btn-sm button">Download Resume</a>
</div>

<div id='resume-container'>
  <object type='application/pdf' data="<%= @applicant.resume.url %>">
    <p>There was error loading the resume, try refreshing the page to see if the
    problem will be resolved. If the issue persists, contact the tech team.</p>
  </object>
</div>

<% if is_admin_or_organizer? %>
  <br/><div id = 'button-container'>
    <%=
      link_to '<< Previous Applicant',
      event_application_path(@applicant.id-1),
      class: 'btn btn-default',
      id: 'prev-button'
    %>
    <%=
      link_to 'Next Applicant >>',
      event_application_path(@applicant.id+1),
      class: 'btn btn-default',
      id: 'next-button'
    %>
  </div>
<% end %>
