<div style="float:left">
        <%= link_to " << Previous Applicant", event_applications_path, class: "btn btn-default" %>
</div>
<div style="float:right">
        <%= link_to "Next Applicant >>", event_applications_path, class: "btn btn-default" %>
</div>
<br>
<br>

<div class="panel panel-default">
  <div class="panel-heading" style="height: 35px;">
      <h3 class="panel-title">
        <p style="float: left; margin: 0">Status: <span class="label label-primary"><%=@event_application.application_status.capitalize %></span></p>
      </h3>
  </div>
  <div class="panel-body">

    <p>
      <strong>Name:</strong>
      <%= @event_application.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @event_application.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @event_application.phone %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @event_application.age %>
    </p>

    <p>
      <strong>Sex:</strong>
      <%= @event_application.sex %>
    </p>

    <p>
      <strong>University:</strong>
      <%= @event_application.university %>
    </p>

    <p>
      <strong>Major:</strong>
      <%= @event_application.major %>
    </p>

    <p>
      <strong>Graduation Year:</strong>
      <%= @event_application.grad_year %>
    </p>

    <p>
      <strong>Food restrictions:</strong>
      <%= @event_application.food_restrictions ? @event_application.food_restrictions_info : "No" %>
    </p>

    <p>
      <strong>T-Shirt Size:</strong>
      <%= @event_application.t_shirt %>
    </p>

    <p>
      <strong>Linkedin URL:</strong>
      <%= @event_application.linkedin %>
    </p>

    <p>
      <strong>Github URL:</strong>
      <%= @event_application.github %>
    </p>

    <p>
      <strong>Have you been to a hackathon before:</strong>
      <%= @event_application.previous_hackathon_attendance ? "Yes" : "No" %><br />
    </p>

    <p>
      <strong>Will you need transportation to UMass:</strong>
      <%= @event_application.transportation ? @event_application.name.concat(" needs transportation from ".concat(@event_application.transportation_location)) : "No" %><br />
    </p>

    <p>
      <strong>Hacker Type:</strong>
      <%= @event_application.programming_skills_list == "{}" ? "" : @event_application.programming_skills_list.gsub(/[\[\"\"\]]/, "") %><br />
    </p>


    <p>
      <strong>Programming Skills:</strong>
      <%= @event_application.programming_skills_list == "{}" ? "" : @event_application.programming_skills_list.gsub(/[\[\"\"\]]|(, ")?Other/, "").concat(" ".concat(@event_application.programming_skills_list)) %><br />
    </p>
    <p>
      <% if @event_application.interested_in_hardware_hacks %>
        <strong>Are you interested in hardware hacks:</strong>
        <%= "No" %>
      <% else %>
        <strong>List of interested hardware:</strong>
        <%= @event_application.interested_hardware_hacks_list == "{}" ? "" : @event_application.interested_hardware_list %>
      <% end %><br />
    </p>

    <p>
      <strong>How did you hear about HackUMass:</strong>
      <%= @event_application.how_did_you_hear_about_hackumass %><br />
    </p>

    <p>
      <strong>What hardware do you want to see at HackUMass V or future HackUMass?:</strong>
      <%= @event_application.future_hardware_for_hackumass %><br />
    </p>

    <p>
      <strong>Waiver & Liability Agreement:</strong>
      <%= @event_application.waiver_liability_agreement ? "Agree" : "Disagree" %>
    </p>
    <%= button_to "Accept", {:controller => "event_applications", :action => "status_updated", :params => {new_status: "accepted", id: @event_application.user_id}}, {class: "btn btn-success btn-sm", style: "float: right; margin:5px"}%>
    <%= button_to "Deny", {:controller => "event_applications", :action => "status_updated", :params => {new_status: "denied", id: @event_application.user_id}}, {class: "btn btn-danger btn-sm", style: "float: right;margin:5px"}%>
    <%= button_to "Waitlist", {:controller => "event_applications", :action => "status_updated", :params => {new_status: "waitlisted", id: @event_application.user_id}}, {class: "btn btn-warning btn-sm", style: "float: right;margin:5px"}%>
  </div>
</div>

<div style="float:left">
  <%= link_to " << Previous Applicant", event_applications_path, class: "btn btn-default" %>
</div>
<div style="float:right">
  <%= link_to "Next Applicant >>", event_applications_path, class: "btn btn-default" %>
</div>
