<div class="my-4 my-md-5">
  <div class="container">
    <div class="row">

      <% if admin_or_organizer? %>

        <div class="row align-items-center event-application-nav-button-container">
          <%= link_to 'Previous Applicant',
                      event_application_path(@applicant.id-1),
                      class: 'btn btn-purple event-application-nav-button' %>
          <%= link_to 'Next Applicant',
                      event_application_path(@applicant.id+1),
                      class: 'btn btn-purple event-application-nav-button' %>
        </div>

      <% end %>

      <div class="card">

        <!-- Applicant's Status -->
        <% if @applicant.flag && admin_or_organizer? || 'denied'.eql?(@status)  %>
          <div class="card-status bg-danger"></div>
        <% elsif 'accepted'.eql?(@status) %>
          <div class="card-status bg-success"></div>
        <% elsif 'waitlisted'.eql?(@status) %>
          <div class="card-status bg-warning"></div>
        <% else %>
          <div class="card-status bg-secondary"></div>
        <% end %>

        <div class="card-header event-application-card-padding">
          <h2 class="page-title event-application-page-title-margin-right">
            Application Status:
          </h2>
          <% if @applicant.flag && admin_or_organizer? %>
            <span class="tag tag-danger event-application-header-status-margin">
              Flagged
            </span>
          <% end %>
          <% if 'accepted'.eql?(@status) %>
            <span class="tag tag-success event-application-header-status-margin">
              <%= @status.capitalize %>
            </span>
          <% elsif 'denied'.eql?(@status) %>
            <span class="tag tag-danger event-application-header-status-margin">
              <%= @status.capitalize %>
            </span>
          <% elsif 'waitlisted'.eql?(@status) %>
            <span class="tag tag-warning event-application-header-status-margin">
              <%= @status.capitalize %>
            </span>
          <% else %>
            <span class="tag tag-secondary event-application-header-status-margin">
              <%= @status.capitalize %>
            </span>
          <% end %>
        </div>

        <div class="card-body event-application-card-padding">

          <% if admin_or_organizer? %>
            <label class='required-field-key'>
              Required Fields for the Applicant
            </label>
          <% end %>

          <p class='required-field'>
            <label><b>Name: </b></label>
            <%= @applicant.name %>
          </p>

          <p class='required-field'>
            <label><b>Email: </b></label>
            <%= @user.email %>
          </p>

          <p>
            <label><b>Phone: </b></label>
            <%= @applicant.phone.empty? ? 'N/A' : @applicant.phone %>
          </p>

          <p class='required-field'>
            <label><b>Age: </b></label>
            <%= @applicant.age %>
          </p>

          <p class='required-field'>
            <label><b>Sex: </b></label>
            <%= @applicant.sex %>
          </p>

          <p class='required-field'>
            <label><b>University: </b></label>
            <%= @applicant.university %>
          </p>

          <p class='required-field'>
            <label><b>Major: </b></label>
            <%= @applicant.major %>
          </p>

          <p class='required-field'>
            <label><b>Graduation Year: </b></label>
            <%= @applicant.grad_year %>
          </p>

          <p class='required-field'>
            <label><b>Food Restrictions: </b></label>
            <%= @applicant.food_restrictions ? @applicant.food_restrictions_info : 'None' %>
          </p>

          <p class='required-field'>
            <label><b>T-Shirt Size: </b></label>
            <%= @applicant.t_shirt_size %>
          </p>

          <p>
            <label><b>Linkedin URL: </b></label>
            <%= @applicant.linkedin_url.empty? ? 'N/A' : @applicant.linkedin_url %>
          </p>

          <p>
            <label><b>Github URL: </b></label>
            <%= @applicant.github_url.empty? ? 'N/A' : @applicant.github_url %>
          </p>

          <p class='required-field'>
            <label><b>Have you been to a hackathon before?:</b></label>
            <%= @applicant.prev_attendance ? 'Yes' : 'No' %>
          </p>

          <p>
            <label><b>Programming Skills: </b></label>
            <% if @applicant.programming_skills == '{}' %>
              <%= 'N/A ' %>
            <% else %>
              <%= @applicant.programming_skills %>
            <% end %>
          </p>

          <p>
            <label><b>Hardware Skills: </b></label>
            <% if @applicant.hardware_skills == '{}' %>
              <%= 'N/A' %>
            <% else %>
              <%= @applicant.hardware_skills %>
            <% end %>
          </p>

          <p>
            <label><b>How did you hear about HackUMass?: </b></label>
            <% if @applicant.referral_info.empty? %>
              <%= 'N/A' %>
            <% else %>
              <%= @applicant.referral_info %>
            <% end %>
          </p>

          <p>
            <label>
              <b>
                What hardware do you want to see at HackUMass V or future HackUMass?:
              </b>
            </label>
            <% if @applicant.future_hardware_suggestion.empty? %>
              <%= 'N/A' %>
            <% else %>
              <%= @applicant.future_hardware_suggestion %>
            <% end %>
          </p>
        </div>

        <% if admin_or_organizer? %>
          <!--
            Only show this field when the applicants disagrees to the
            Term & Conditions but the form is somehow still submitted
          -->
          <% unless @applicant.waiver_liability_agreement %>
            <p class='required-field'>
            <span class='event-application-error-text'>
              <label><b>Terms & Condition: </b></label>
              <%= @applicant.waiver_liability_agreement ? 'AGREED' : 'DISAGREED' %>
            </span>
            </p>
          <% end %>
        <% end %>

        <div class="event-application-flex-end-container">
          <% if admin_or_organizer? %>
            <%= button_to 'Accept',
                          {controller: 'event_applications', action: 'status_updated',
                           params: {new_status: 'accepted', id: @applicant.user_id}},
                          {class: 'btn btn-success btn-sm event-application-status-button'} %>

            <%= button_to 'Deny',
                          {controller: 'event_applications', action: 'status_updated',
                           params: {new_status: 'denied', id: @applicant.user_id}},
                          {class: 'btn btn-danger btn-sm event-application-status-button'} %>

            <%= button_to 'Waitlist',
                          {controller: 'event_applications', action: 'status_updated',
                           params: {new_status: 'waitlisted', id: @applicant.user_id}},
                          {class: 'btn btn-warning btn-sm event-application-status-button'} %>

            <% if @application.flag %>
              <%= button_to 'Unflag',
                            {controller: 'event_applications', action: 'unflag_application',
                             params: {application: @event_application}},
                            {class: 'btn btn-success btn-sm event-application-status-button'} %>
            <% else %>
              <%= button_to 'Flag',
                            {controller: 'event_applications', action: 'flag_application',
                             params: {application: @event_application}},
                            {class: 'btn btn-danger btn-sm event-application-status-button'} %>
            <% end %>
          <% end %>

          <%= button_to 'Edit', edit_event_application_path(@applicant),
                        {method: 'get', class: 'btn btn-purple btn-sm event-application-status-button'} %>
        </div>

      </div>

      <div class="event-application-resume-container">
        <object width="100%" height="100%" type='application/pdf' data="<%= @applicant.resume.url %>">
          <p>There was error loading the resume, try refreshing the page to see if the
            problem will be resolved. If the issue persists, contact the tech team.</p>
        </object>
      </div>

    </div>
  </div>
</div>