<div class="row">	
  <div class="col-sm-12 col-lg-6 offset-lg-3">	
    <div class="card">	
      <div class="card-body d-flex flex-column">	
        <h1 id="countdown" data-hacking-begins="<%= HackumassWeb::Application::HACKING_BEGINS_DATE %>" data-hacking-ends="<%= HackumassWeb::Application::HACKING_ENDS_DATE %>"></h1>	
      </div>	
    </div>	
  </div>	
</div>

<div class="row">
  <% if check_feature_flag?($CheckIn) %>
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-green mr-3">
            <i class="fe fe-user-check"></i>
          </span>
          <div>
            <h4 class="m-0"><%= @checked_in_user_count %></h4>
            <small class="text-muted">Checked In Users</small>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3">
        <a href="<%= event_applications_path %>" class="text-inherit text-decoration-none">
            <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-green mr-3">
              <i class="fe fe-user-check"></i>
            </span>
            <div>
              <h4 class="m-0"><%= @all_apps_count %></h4>
              <small class="text-muted">Total Registrations</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% end %>
  <% if @event_application_mode == 'open' %>
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3">
        <a href="#" class="text-inherit text-decoration-none">
          <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-red mr-3">
              <i class="fe fe-user"></i>
            </span>
            <div>
              <h4 class="m-0"><%= @user_count %></h4>
              <small class="text-muted">Registered Accounts</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% else %>
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3">
        <a href="<%= event_applications_path(rsvp: true) %>" class="text-inherit text-decoration-none">
          <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-red mr-3">
              <i class="fe fe-user"></i>
            </span>
            <div>
              <h4 class="m-0"><%= @rsvp_user_count %></h4>
              <small class="text-muted">RSVP'd Users</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% end %>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <a href="<%= all_checked_out_hardware_items_path %>" class="text-inherit text-decoration-none">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-blue mr-3">
            <i class="fe fe-cpu"></i>
          </span>
          <div>
            <h4 class="m-0"><%= @hardware_checkouts_count %></h4>
            <small class="text-muted">Hardware Checkouts</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <a href="<%= mentorship_requests_path %>" class="text-inherit text-decoration-none">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-orange mr-3">
            <i class="fe fe-users"></i>
          </span>
          <div>
            <h4 class="m-0"><%= @mentorship_requests_count %></h4>
            <small class="text-muted">Mentorship Requests</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <a href="<%= events_path %>" class="text-inherit text-decoration-none">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-purple mr-3">
            <i class="fe fe-calendar"></i>
          </span>
          <div>
            <h4 class="m-0"><%= @event_count %></h4>
            <small class="text-muted">Listed Events</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <a href="<%= prizes_path %>" class="text-inherit text-decoration-none">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-teal mr-3">
            <i class="fe fe-award"></i>
          </span>
          <div>
            <h4 class="m-0"><%= @prize_count %></h4>
            <small class="text-muted">Listed Prizes</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <a href="<%= hardware_items_path %>" class="text-inherit text-decoration-none">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-yellow mr-3">
            <i class="fe fe-cpu"></i>
          </span>
          <div>
            <h4 class="m-0"><%= @hardware_count %></h4>
            <small class="text-muted">Hardware Items</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <a href="<%= projects_path %>" class="text-inherit text-decoration-none">
        <div class="d-flex align-items-center">
          <span class="stamp stamp-md bg-pink mr-3">
            <i class="fe fe-inbox"></i>
          </span>
          <div>
            <h4 class="m-0"><%= @project_count %></h4>
            <small class="text-muted">Listed Projects</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <% if check_feature_flag?($Applications) and @event_application_mode == 'open' %>
        <div class="card-status bg-green"></div>
        <div class="card-header">
          <h3 class="card-title">Event Registrations are <b>OPEN</b></h3>
        </div>
        <div class="card-body d-flex flex-column">
          <p>Participants can currently register for the event.</p>
          <p>To close regular-round registrations, set <code>applications.mode</code> to <code>waitlist</code> in hackathon.yml</p>
        </div>
      <% elsif @event_application_mode == 'waitlist' %>
        <div class="card-status bg-orange"></div>
        <div class="card-header">
          <h3 class="card-title">Event Registrations are <b>WAITLISTED</b></h3>
        </div>
        <div class="card-body d-flex flex-column">
          <p>Participants can currently register for the event, but will be automatically waitlisted.</p>
          <p>To close all registrations, set <code>applications.mode</code> to <code>closed</code> in hackathon.yml</p>
        </div>
      <% else %>
        <div class="card-status bg-red"></div>
        <div class="card-header">
          <h3 class="card-title">Event Registrations are <b>CLOSED</b></h3 >
        </div>
        <div class="card-body d-flex flex-column">
          <p>Participants can not currently register for the event. No more registrations can be created.</p>
          <p>To open registrations, set <code>applications.mode</code> to <code>open</code> in hackathon.yml and enable the <a href="/feature_flags">Applications feature flag</a>.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Upcoming Events</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% @upcoming_events.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.start_time.strftime('%I:%M %p')%> - <%= event.end_time.strftime('%I:%M %p')%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", events_path, class: 'btn btn-secondary'%>
        </div>
    </div>
  </div>
</div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-orange"></div>
      <div class="card-header">
        <h3 class="card-title">Latest Mentorship Requests</b></h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @latest_requests.each do |request| %>
              <tr>
                <td><%=link_to truncate(request.title), request%> </td>
                <td><%= request.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", mentorship_requests_path, class: 'btn btn-secondary'%>
        </div>
    </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <% if HackumassWeb::Application::SLACK_ENABLED %>
      <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/slack_channels') %>  
    <% else %>
      <div class="card">
          <div class="card-status bg-dark"></div>
          <div class="card-header">
              <h3 class="card-title">Slack Channels‍</h3>
          </div>
          <div class="card-body d-flex flex-column">
              <p><strong>Slack Integration Disabled.</strong></p>
              <p>Enable Slack integration to view channel list</p>
          </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-12 col-lg-4">
    <% if HackumassWeb::Application::DISCORD_ENABLED %>
      <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/discord_channels') %>
    <% else %>
      <div class="card">
          <div class="card-status bg-dark"></div>
          <div class="card-header">
              <h3 class="card-title">Discord Channels‍</h3>
          </div>
          <div class="card-body d-flex flex-column">
              <p><strong>Discord Integration Disabled.</strong></p>
              <p>Enable Discord integration to view channel list</p>
          </div>
      </div>
    <% end %>
  </div
</div>
