<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-green mr-3">
          <i class="fe fe-user-check"></i>
        </span>
        <div>
        <% if check_feature_flag?($CheckIn) %>
          <h4 class="m-0"><%= @checked_in_user_count %></h4>
          <small class="text-muted">Checked In Users</small>
        <% else %>
          <h4 class="m-0"><%= @applications_count %></h4>
          <small class="text-muted">Total Applications</small>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-red mr-3">
          <i class="fe fe-user"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @rsvp_user_count %></h4>
          <small class="text-muted">RSVP'd Users</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-blue mr-3">
          <i class="fe fe-cpu"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @hardware_checkouts_count %></h4>
          <small class="text-muted">Hardware Checkouts</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-orange mr-3">
          <i class="fe fe-users"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @mentorship_requests_count %></h4>
          <small class="text-muted">Mentorship Requests</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-purple mr-3">
          <i class="fe fe-calendar"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @event_count %></h4>
          <small class="text-muted">Listed Events</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-teal mr-3">
          <i class="fe fe-award"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @prize_count %></h4>
          <small class="text-muted">Listed Prizes</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-yellow mr-3">
          <i class="fe fe-cpu"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @hardware_count %></h4>
          <small class="text-muted">Hardware Items</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-pink mr-3">
          <i class="fe fe-inbox"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @project_count %></h4>
          <small class="text-muted">Listed Projects</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <% if check_feature_flag?($Applications) and HackumassWeb::Application::APPLICATIONS_MODE == 'open' %>
        <div class="card-status bg-green"></div>
        <div class="card-header">
          <h3 class="card-title">Event Applications are <b>OPEN</b></h3>
        </div>
        <div class="card-body d-flex flex-column">
          <p>Participants can currently register for the event.</p>
          <p>To close regular-round applications, set <code>applications.mode</code> to <code>waitlist</code> in hackathon.yml</p>
        </div>
      <% elsif HackumassWeb::Application::APPLICATIONS_MODE == 'waitlist' %>
        <div class="card-status bg-orange"></div>
        <div class="card-header">
          <h3 class="card-title">Event Applications are <b>WAITLISTED</b></h3>
        </div>
        <div class="card-body d-flex flex-column">
          <p>Participants can currently register for the event, but will be automatically waitlisted.</p>
          <p>To close all applications, set <code>applications.mode</code> to <code>closed</code> in hackathon.yml</p>
        </div>
      <% else %>
        <div class="card-status bg-red"></div>
        <div class="card-header">
          <h3 class="card-title">Event Applications are <b>CLOSED</b></h3 >
        </div>
        <div class="card-body d-flex flex-column">
          <p>Participants can not currently register for the event. No more applications can be created.</p>
          <p>To open applications, set <code>applications.mode</code> to <code>open</code> in hackathon.yml and enable the <a href="/feature_flags">Applications feature flag</a>.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Upcoming Events</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% @upcoming_events.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.start_time.strftime('%I:%M %p')%> - <%= event.end_time.strftime('%I:%M %p')%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", events_path, class: 'btn btn-secondary'%>
        </div>
    </div>
  </div>
</div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-orange"></div>
      <div class="card-header">
        <h3 class="card-title">Latest Mentorship Requests</b></h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @latest_requests.each do |request| %>
              <tr>
                <td><%=link_to truncate(request.title), request%> </td>
                <td><%= request.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", mentorship_requests_path, class: 'btn btn-secondary'%>
        </div>
    </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/slack_channels') %>  
  </div>
</div>
