<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-green mr-3">
          <i class="fe fe-user-check"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @checked_in_user_count %></h4>
          <small class="text-muted">Checked In Users</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-red mr-3">
          <i class="fe fe-user"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @rsvp_user_count %></h4>
          <small class="text-muted">RSVP'd Users</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-blue mr-3">
          <i class="fe fe-cpu"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @hardware_checkouts_count %></h4>
          <small class="text-muted">Hardware Checkouts</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-orange mr-3">
          <i class="fe fe-users"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @mentorship_requests_count %></h4>
          <small class="text-muted">Mentorship Requests</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-purple mr-3">
          <i class="fe fe-calendar"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @event_count %></h4>
          <small class="text-muted">Listed Events</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-teal mr-3">
          <i class="fe fe-award"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @prize_count %></h4>
          <small class="text-muted">Listed Prizes</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-yellow mr-3">
          <i class="fe fe-cpu"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @hardware_count %></h4>
          <small class="text-muted">Hardware Items</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-pink mr-3">
          <i class="fe fe-inbox"></i>
        </span>
        <div>
          <h4 class="m-0"><%= @project_count %></h4>
          <small class="text-muted">Listed Projects</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
          <h3 class="card-title">Something cool...</h3>
      </div>
      <div class="card-body">
        Something cool will be here soon...
      </div>
    </div>
  </div>
</div>
