<div class="row">	
  <div class="col-sm-12 col-lg-6 offset-lg-3">	
    <div class="card">	
      <div class="card-body d-flex flex-column">
        <h1 id="countdown" data-hacking-begins="<%= HackumassWeb::Application::HACKING_BEGINS_DATE %>" data-hacking-ends="<%= HackumassWeb::Application::HACKING_ENDS_DATE %>"></h1>		
      </div>	
    </div>	
  </div>	
</div>

<% if !HackumassWeb::Application::SLACK_ENABLED or current_user.has_slack?  %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-status card-status-left bg-dark"></div>
      <div class="card-body d-flex flex-column">
        <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/checked_in_participant') %>  
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-status card-status-left bg-purple"></div>
        <div class="card-body d-flex flex-column">
          <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/participant_no_slack') %>  
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-success"></div>
      <div class="card-header">
        <h3 class="card-title">Make a Hardware Hack</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <center>
          <%= image_tag @qr_image.to_data_url, style: 'height: 300px; width:300px' %>
        </center>
        <p>Have the QR code above ready at the Hardware Table to check out hardware!</p>
        <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/checked_in_hardware') %>  
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Upcoming Events</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% @upcoming_events.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.start_time.strftime('%I:%M %p')%> - <%= event.end_time.strftime('%I:%M %p')%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", events_path, class: 'btn btn-secondary'%>
        </div>
    </div>
  </div>
</div>
  
  <% if HackumassWeb::Application::SLACK_ENABLED %>
    <div class="col-sm-12 col-lg-4">
        <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/slack_channels') %>    
    </div>
  <% end %>
  <% if HackumassWeb::Application::DISCORD_ENABLED %>
    <div class="col-sm-12 col-lg-4">
        <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/discord_channels') %>    
    </div>
  <% end %>
</div>
