<% if current_user.has_slack? %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-status card-status-left bg-dark"></div>
      <div class="card-body d-flex flex-column">
        <p><b>Thanks!</b> You joined our Slack! Try checking out the <b>#mentorship</b> channel! See if you can find a mentor to help you out!</p>
        <a href="https://hackumassvi.slack.com/app_redirect?channel=mentorship" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Go to #mentorship channel</a>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-status card-status-left bg-purple"></div>
        <div class="card-body d-flex flex-column">
          <p><b>Hi there!</b> Thanks for being a mentor! In order to help attendees you will need to join out Slack</p>
          <p><b>FYI</b>, You must create your slack account with this email: <b><%= current_user.email %> </b>. Otherwise you might encounter some problems...</p>
          <a href="https://join.slack.com/t/hackumassvi/shared_invite/enQtNDQwOTU5MTU0MTAwLTU4NTNiNTk0MGIxYTJlMTMyOGZjZGQ1MmU2NGYyZmYzZTc3MTQ4YWQ4YWFlMDZhZTQ0YmIwNjQ5YjRjOWRiMDM" target="_blank" class="btn btn-purple"><i class="fe fe-slack mr-2"></i>Join Our Slack</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-success"></div>
      <div class="card-header">
        <h3 class="card-title">Check Ouch Hardware</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <center>
          <%= image_tag @qr_image.to_data_url, style: 'height: 300px; width:300px' %>
        </center>
        <p><div>Go to our hardware table and borrow some cool tech using this QR Code.</div></p>
        <p><div>If for some reason your QR Code can't be scanned, you can still check in using your email address which is <b><%= current_user.email %></b> </div></p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Upcoming Events</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% @upcoming_events.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.start_time.strftime('%I:%M %p')%> - <%= event.end_time.strftime('%I:%M %p')%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", events_path, class: 'btn btn-secondary'%>
        </div>
    </div>
  </div>
</div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-dark"></div>
      <div class="card-header">
        <h3 class="card-title">Slack Channels‍</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <p><div>Our Slack has more than 800 hackers in it! Check it out and help attendees form teams, create awesome hacks, and have fun!</div></p>
        <br>
        <a href="https://hackumassvi.slack.com/app_redirect?channel=team_forming" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Go to #Team Forming channel</a>
        <br>
        <a href="https://hackumassvi.slack.com/app_redirect?channel=random" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Go to #Random channel</a>
        <br>
        <a href="https://hackumassvi.slack.com/app_redirect?channel=mentorship" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Go to #Mentorship channel</a>

      </div>
    </div>
  </div>
</div>
