<div class="row">	
  <div class="col-sm-12 col-lg-6 offset-lg-3">	
    <div class="card">	
      <div class="card-body d-flex flex-column">	
        <h1 id="countdown" data-hacking-begins="<%= HackumassWeb::Application::HACKING_BEGINS_DATE %>" data-hacking-ends="<%= HackumassWeb::Application::HACKING_ENDS_DATE %>"></h1>	
      </div>	
    </div>	
  </div>	
</div>

<% if HackumassWeb::Application::SLACK_ENABLED %>
  <% if current_user.has_slack? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-status card-status-left bg-dark"></div>
        <div class="card-body d-flex flex-column">
          <p><b>Thanks!</b> You joined our Slack! Try checking out the <b>#mentorship</b> channel! See if people need help with their hacks or forming teams.</p>
          <a href="https://<%= HackumassWeb::Application::SLACK_SUBDOMAIN %>.slack.com/app_redirect?channel=mentorship" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>Go to #mentorship channel</a>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-status card-status-left bg-purple"></div>
          <div class="card-body d-flex flex-column">
            <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/mentor_no_slack') %>  
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Upcoming Events</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <% @upcoming_events.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= event.start_time.strftime('%I:%M %p')%> - <%= event.end_time.strftime('%I:%M %p')%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", events_path, class: 'btn btn-secondary'%>
        </div>
    </div>
  </div>
</div>

  <div class="col-sm-12 col-lg-4">
    <div class="card">
      <div class="card-status bg-orange"></div>
      <div class="card-header">
        <h3 class="card-title">Latest Mentorship Requests</b></h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @latest_requests.each do |request| %>
              <tr>
                <td><%=link_to truncate(request.title), request%> </td>
                <td><%= request.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-body d-flex flex-column">
          <%= link_to "View All", mentorship_requests_path, class: 'btn btn-secondary'%>
        </div>
    </div>
    </div>
  </div>

  <% if HackumassWeb::Application::SLACK_ENABLED %>
    <div class="col-sm-12 col-lg-4">
      <%= render file: HackumassWeb::Application::copy_for('shared/home_pages/slack_channels') %>  
    </div>
  <% end %>
</div>
