<%= form_with(model: feature_flag, local: true) do |form| %>
  <% if feature_flag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature_flag.errors.count, "error") %> prohibited this feature_flag from being saved:</h2>

      <ul>
      <% feature_flag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :feature_flag_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.check_box :value, id: :feature_flag_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
