<script type='text/javascript'>
function unhideField(field) {
    if (field) {
        field.style.display = 'block';
    }
}

function hideField(field) {
    if (field) {
        field.style.display = 'none';
    }
}

function toggleHiddenField(hiddenId, checkBoxId) {
    var field = document.getElementById(hiddenId).parentNode;
    var checkBox = document.getElementById(checkBoxId);
    if (checkBox) {
        checkBox.checked ? unhideField(field) : hideField(field);
    } else {
        hideField(field);
    }
}
</script>
<style type='text/css'>
.event-application-hidden {
  display: none;
}

.event-application-required-field:after {
  content: ' * ';
  color: red;
}
</style>
<%= form_for(@rsvp, html: {multipart: true}) do |f| %>
    <% HackumassWeb::Application::RSVP_CUSTOM_FIELDS.each do |c| %>
        <%= f.fields_for :answers, OpenStruct.new(@rsvp.answers) do |o| %>
        <div class="form-group<% if c['hidden'] %> event-application-hidden<% end %>">
            <%= o.label c['name'].to_sym,
                        "#{c['label']}:",
                        class: c['required'] ? 'form-label event-application-required-field' : 'form-label' %>
            <% if c['type'] == 'select' %>
            <%= o.select c['name'].to_sym,
                        c['options'],
                        {include_blank: true},
                        {class: 'form-control custom-select'} %>
            <% elsif c['type'] == 'multiselect' %>
            <div class='custom-controls-stacked' id="custom_rsvp_answers_<%= c['name'] %>">
                <% c['options'].each do |option| %>
                <label class="custom-control custom-checkbox">
                    <%= o.check_box c['name'].to_sym,
                                    {multiple: true},
                                    option,
                                    nil %> <%= option %>
                </label>
                <% end %>
            </div>
            <% elsif c['type'] == 'boolean' %>
            <div class="custom-controls-stacked" id="custom_rsvp_answers_<%= c['name'] %>">
                <label class="custom-control custom-radio custom-control-inline">
                <%= o.radio_button c['name'].to_sym,
                                    true,
                                    class: 'custom-control-input',
                                    onclick: c['toggle_field'] ? "toggleHiddenField(\"custom_rsvp_answers_#{c['toggle_field']}\", \"custom_rsvp_answers_#{c['name']}_true\")" : "" %>
                <span class="custom-control-label">Yes</span>
                </label>
                <% unless c['only_yes'] %>
                    <label class="custom-control custom-radio custom-control-inline">
                    <%= o.radio_button c['name'].to_sym,
                                        false,
                                        class: 'custom-control-input',
                                        onclick: c['toggle_field'] ? "toggleHiddenField(\"custom_rsvp_answers_#{c['toggle_field']}\", \"custom_rsvp_answers_#{c['name']}_true\")" : "" %>
                    <span class="custom-control-label">No</span>
                    </label>
                <% end %>
            </div>
            <% elsif c['type'] == 'textarea' %>
            <%= o.text_area c['name'].to_sym,
                        rows: '5',
                        class: 'form-control text-box',
                        onkeyup: 'charCounter()' %>
            <div class="form-label-small event-application-flex-end-container text-box-counter">
                0 of <%= c['max_chars'] or 500 %>
            </div>
            <% else %>
            <%= o.text_field c['name'].to_sym,
                                class: 'form-control' %>
            <% end %>
        <% end %>
        </div>
    <% end %>

    <center>
        <% if @rsvp_new and not @current_user.rsvp %>
        <%= f.submit 'Submit RSVP',
                    type: 'submit',
                    class: 'btn btn-success w-100' %>
        <% else %>
        <%= f.submit 'Update RSVP',
                    type: 'submit',
                    class: 'btn btn-success w-100' %>
        <% end %>
    </center>
    <% end %>
    <p></p>
    <center>
    <%= form_tag unrsvp_path, method: :post do%>
          <%= submit_tag "Sorry, I can't participate", class: 'btn btn-danger', data: { confirm: 'Are you sure you will not come? By doing this you will be moving your application status from accepted to declined. There is no way to get accepted after clicking the okay button. Are you sure you want to decline your acceptance?' } %>
    <%end%>
    </center>