<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-lg-7 col-lg-offset-2" style="padding-top:60px">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Your Account</legend>

          <div class="form-group">
            <label class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-10">
              <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-10">
              <%= f.text_field :last_name, autofocus: false, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-6 control-label">Change your password? (Not Required)</label>
            <div class="col-lg-10">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New Password" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confimation"%>
            </div>
          </div>

          <div class="form-check">
            <%= f.check_box :non_transactional_email_consent, autocomplete: "off", class: "form-check-input" %>
            <% if current_user.non_transactional_email_consent %>
              <label class="form-check-label">Uncheck this box to opt-out of notifications.</label>
            <% else %>
              <label class="form-check-label">Check this box to opt-in to notifications?</label>
            <% end %>
          </div>

          <div class="form-group pt-5">
            <label class="col-lg-2 control-label">Confirmation</label>
            <div class="col-lg-10">
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Confirm changes with current password" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2" style="padding-top: 5%;" >
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          </div>

          <br>
        </fieldset>
      </form>
    </div>
  </div>
<% end %>
