<div class="page-header">
  <h1 class="page-title">Your Mentorship Requests</h1>
</div>

<% if @current_user.has_mentorship_requests? %>
  <% if @current_user.number_of_requests < 5 %>
    <div class="alert alert-icon alert-primary" role="alert">
      <i class="fe fe-bell mr-2" aria-hidden="true"></i> <b>Hey there!</b> You can only have 5 mentorship requests open at the same time. You currently have <%= 5 - @current_user.number_of_requests %> requests left.
    </div>
    <center><%= link_to 'Submit a new request', new_mentorship_request_path, class: 'btn btn-info' %></center>
    <br>
  <% else %>
    <div class="alert alert-icon alert-danger" role="alert">
      <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> <b>Oh boi...</b> It looks like you have 5 unresolved mentorship requests. You will need to resolve them before you request for more help.
    </div>
  <% end %>

  <% @current_user.valid_requests.each do |mentorship_request|%>
    <div class="card">
      <h3 class="card-header">
        <%= mentorship_request.title %>
        <div style="margin-left: 2%;" class="badge badge-primary"> Request ID: #<%= mentorship_request.id%> </div>
      </h3>
      <div class="card-body">
        <h4>
          <strong>Request Urgency:</strong>
          <% if  mentorship_request.urgency == 0 %>
            <span class="badge badge-info">Not Urgent</span>
          <% elsif mentorship_request.urgency == 1 %>
            <span class="badge badge-warning">Mildly Urgent</span>
          <% elsif mentorship_request.urgency == 2 %>
            <span class="badge badge-danger">Urgent</span>
          <% elsif mentorship_request.urgency == 3 %>
            <span class="badge badge-danger">Drastically Urgent</span>
          <% end %>
        </h4>
        <h5 class="card-title"><%= mentorship_request.description%></h5>
        <h5 class="card-title"><strong>Status:</strong>
          <% if mentorship_request.status == 'Waiting' %>
            <div class= "badge badge-warning">Waiting </div>
          <% else %>
            <div class= "badge badge-success"> Contacted </div> Check Slack!
          <% end %>
        </h5>
        <p class="card-text">
          <% mentorship_request.tech.each do |tech| %>
            <div class="badge badge-secondary"> <%= tech %> </div>
          <% end %>
        </p>
        <%= link_to 'Nevermind I Figured It Out!',
                      {controller:'mentorship_requests', action: 'mark_as_resolved',
                        params: {mentorship_request: mentorship_request}},
                        class: "btn btn-success", role: "button", tag: "button", method: :put %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card">
    <h3 class="card-header">
      Make a request
    </h5>
  </div>
<% end %>
