<%= form_for(mentorship_request) do |f| %>
  <% if mentorship_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentorship_request.errors.count, "error") %> prohibited this mentorship_request from being saved:</h2>

      <ul>
      <% mentorship_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
        <%= f.label :status, "What type of problem are you having?", class:"col-lg-2 control-label" %>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <%= f.radio_button :status, "bug", id:"optionsRadios1"%>
                <%= "Bug: Your code does not do what you want it to, or just doesn't compile." %>
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :status, "feature", id:"optionsRadios2"%>
                <%= "Feature: You're not sure how to implement something, in your code or otherwise." %>
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :status, "other", id:"optionsRadios3"%>
                <%= "Other: None of the things listed above, miscellaneous." %>
              </label>
            </div>
          </div>
      </div>
  
  <div class="form-group">
  
    <div class="col-lg-10">
          <%= f.text_area :title, class: "form-control", :maxlength => 140, rows: "3", id: "textArea" %>
        </div>
        <span class="help-block">Tell us what exactly is going wrong. Keep this under 140 characters, you'll have a chance to elaborate more with your chosen mentor.</span>
        </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
