<%= form_for(mentorship_request) do |f| %>
<% if mentorship_request.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(mentorship_request.errors.count, "error") %> prohibited this mentorship_request from being saved:</h2>

  <ul>
    <% mentorship_request.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>



<div class = "col-12">
  <div class = "card">
    <div class = "card-body">
      <div class="form-group">
        <label class="form-label">Title</label>
        <%= f.text_field :title, placeholder: "Describe your problem in a few words.", class: "form-control", rows: "5", id: "textArea"%>
      </div>

      <div class='form-group'>
        <%= f.label :tech,
        'Technology related to issue: (select all that apply)',
        class: 'form-label' %>
        <div class='selectgroup selectgroup-pills'>
          <%= render 'tech_form_options', f:f %>
        </div>
      </div>


      <div class="form-group">
        <label class="form-label">How urgent is your problem?</label>
        <div class="col-lg-10">
          <div class="radio">
            <label>
              <%= f.radio_button :urgency, 3, id:"optionsRadios1"%>
              <%= "Drastically Urgent: We are stuck and won't be able to work on anything else until this is resolved. " %>
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :urgency, 2, id:"optionsRadios2"%>
              <%= "Considerably Urgent: It is a huge issue, but we can work on other things while we get help with this problem." %>
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :urgency, 1, id:"optionsRadios3"%>
              <%= "Mildly Urgent: A problem that is incessant and annoying, but it is not a major part of our project." %>
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :urgency, 0, id:"optionsRadios4"%>
              <%= "Not Urgent: We just want a suggestion, or are capable of solving it ourselves, but help from a mentor would be nice, but not needed." %>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">Description</label>
          <%= f.text_area :description, placeholder: "Tell us what exactly is going wrong. Keep this under a paragraph, you'll have a chance to elaborate more with your chosen mentor.", class: "form-control", rows: "5", id: "textArea"%>
        </div>

        <div class="form-group">
          <label class="form-label">Screenshot (Optional)</label>
          <div class="col-lg-4">
            <div class="custom-file">
              <%= f.file_field :screenshot, class:'custom-file-input', onchange:'updateRequestImageFileLabel()', id: 'request_requestimage' %>
              <label class="custom-file-label"> Choose file </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Jesus Take The Wheel!",
          class: 'btn btn-primary', style: 'margin-top:5%'%>
        </div>

      </div>
    </div>
  </div>
</div>


<% end %>
