<%= form_for(mentorship_request) do |f| %>
  <% if mentorship_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentorship_request.errors.count, "error") %> prohibited this mentorship_request from being saved:</h2>

      <ul>
      <% mentorship_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :mentor_id %>
    <%= f.number_field :mentor_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
