<div class="page-header">
  <h1 class="page-title">Mentorship Dashboard</h1>
</div>
<p>
<% if HackumassWeb::Application::SLACK_ENABLED%>
  <% if @mentorship_notification != nil %>
    You are currently receiving notifications for 
    <% if @mentorship_notification.all %>
      <b>ALL mentorship requests</b>
    <% else %>
      <b><%= @mentorship_notification.tech.join(', ') %> related mentorship requests.</b>
    <% end %>
    Thanks!
  <% else %>
    <b>Want to receive notifications whenever someone submits a new mentorship request?</b> 
  <% end %>
  <%= link_to 'Change Notification Preferences', new_mentorship_notification_path, class: "btn btn-primary" %>
  <br>
  <br>
<% end %>
<% if [true, false].sample %>
  <div class="alert alert-icon alert-primary" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i> <b>Pro Tip</b> You can click on a table header to sort the table. Try sorting requests by urgency and help those that need it the most.
  </div>
<% else %>
  <div class="alert alert-icon alert-primary" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i> <b>Pro Tip</b> You can make a search based on status. Try searching "Waiting" to see all the requests in waiting status.
  </div>
<% end %>

<div class = "card">
  <div class = "card-body">
    <div class = "form-group">
      <div class = "row gutters-xs">
        <div class = "col">
          <%= form_tag search_mentorship_requests_path, method: :get do %>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search any request.." %>
        </div>
        <span class = "col-auto">
          <%= submit_tag 'Search', class: "btn btn-secondary"%>
        </span>
        <span class = "col-auto">
          <%= link_to mentorship_requests_path do %>
          <button class = "btn btn-secondary">
            Clear
          </button>
          <% end %>
        </span>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="table-responsive">
    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
      <thead>
        <tr>

          <th>View</th>
          <th>ID</th>
          <th>Title</th>
          <th>Tech</th>
          <% if params[:asc] == "true" and params[:sortby] == "urgency" %>
          <th><%= link_to 'Urgency'.html_safe,
                    {controller:'mentorship_requests', action: 'index',
                    params: {sortby: "urgency", asc: false }}%>
                    <i class="fe fe-arrow-up"></i>
                    </th>
          <% elsif params[:asc] == "false" and params[:sortby] == "urgency" %>
          <th><%= link_to 'Urgency'.html_safe,
                    {controller:'mentorship_requests', action: 'index',
                    params: {sortby: "urgency", asc: true }}%>
                    <i class="fe fe-arrow-down"></i>
                    </th>
          <% else %>
          <th><%= link_to 'Urgency'.html_safe,
                    {controller:'mentorship_requests', action: 'index',
                    params: {sortby: "urgency", asc: :true }}%>
                    </th>
          <% end %>
          <th>Status</th>
          <% if params[:asc] == "true" and params[:sortby] == "created_at" %>
          <th><%= link_to 'Time'.html_safe,
                    {controller:'mentorship_requests', action: 'index',
                    params: {sortby: "created_at", asc: false }}%>
                    <i class="fe fe-arrow-up"></i>
                    </th>
          <% elsif params[:asc] == "false" and params[:sortby] == "created_at" %>
          <th><%= link_to 'Time'.html_safe,
                    {controller:'mentorship_requests', action: 'index',
                    params: {sortby: "created_at", asc: true }}%>
                    <i class="fe fe-arrow-down"></i>
                    </th>
          <% else %>
          <th><%= link_to 'Time'.html_safe,
                    {controller:'mentorship_requests', action: 'index',
                    params: {sortby: "created_at", asc: :true }}%>
                    </th>
          <% end %>
          <th>By</th>
        </tr>
      </thead>
      <tbody>
        <% @mentorship_requests.each do |request| %>
          <tr>
            <td><%= link_to request do %> <button class = "btn btn-secondary btn-sm"> <i class= "fe fe-eye"> </i> </button> <% end %></td>
            <td><%= request.id %></td>
            <td><%= truncate(request.title) %></td>
            <td><% request.tech.each do |tech| %>
              <div class="badge badge-secondary"><%= tech %></div><% end %>
            </td>
            <td><%= request.urgency %></td>
            <td><%= request.status %>
            <td><%= request.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %e, %l:%M %p") %></td>
            <td><%= request.user.full_name%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<center> <%= will_paginate @mentorship_requests%> </center>
</div>
