<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'HTML/CSS',
    nil %>
    <span class = "selectgroup-button">HTML/CSS</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Javascript  ',
    nil %>
    <span class = "selectgroup-button">Javascript  </span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Node.js',
    nil %>
    <span class = "selectgroup-button">Node.js</span>
</label>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Express',
    nil %>
    <span class = "selectgroup-button">Express</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Angular',
    nil %>
    <span class = "selectgroup-button">Angular</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'React',
    nil %>
    <span class = "selectgroup-button">React</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Vue',
    nil %>
    <span class = "selectgroup-button">Vue</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'PHP',
    nil %>
    <span class = "selectgroup-button">PHP</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Laravel',
    nil %>
    <span class = "selectgroup-button">Laravel</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'SQL',
    nil %>
    <span class = "selectgroup-button">SQL</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Ruby',
    nil %>
    <span class = "selectgroup-button">Ruby</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Ruby on Rails',
    nil %>
    <span class = "selectgroup-button">Ruby on Rails</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Java   ',
    nil %>
    <span class = "selectgroup-button">Java  </span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Java Spring',
    nil %>
    <span class = "selectgroup-button">Java Spring</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Kotlin',
    nil %>
    <span class = "selectgroup-button">Kotlin</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Swift',
    nil %>
    <span class = "selectgroup-button">Swift</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Objective C',
    nil %>
    <span class = "selectgroup-button">Objective C</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'C/C++/C#',
    nil %>
    <span class = "selectgroup-button">C/C++/C#</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Python',
    nil %>
    <span class = "selectgroup-button">Python</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Flask',
    nil %>
    <span class = "selectgroup-button">Flask</span>
</label><label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Django',
    nil %>
    <span class = "selectgroup-button">Django</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Arduino',
    nil %>
    <span class = "selectgroup-button">Arduino</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Raspberry Pi',
    nil %>
    <span class = "selectgroup-button">Raspberry Pi</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Microcontrollers',
    nil %>
    <span class = "selectgroup-button">Microcontrollers</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'AI/Machine Learning',
    nil %>
    <span class = "selectgroup-button">AI/Machine Learning</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Robotics',
    nil %>
    <span class = "selectgroup-button">Robotics</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Other Hardware',
    nil %>
    <span class = "selectgroup-button">Other Hardware</span>
</label>
<label class="selectgroup-item">
    <%= f.check_box :tech,
    {multiple: true, :class => "selectgroup-input"},
    'Misc',
    nil %>
    <span class = "selectgroup-button">None/Other</span>
</label>