<p id="notice"><%= notice %></p>

<% if current_user.is_mentor? or current_user.is_admin? %>
<h1>Mentorship Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Mentor</th>
      <th>Title</th>
      <th>Type</th>
      <th>Status</th>
      <th>Urgency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentorship_requests.each do |mentorship_request| %>
      <tr>
        <td><%= mentorship_request.user_id %></td>
        <td><%= mentorship_request.mentor_id %></td>
        <td><%= mentorship_request.title %></td>
        <td><%= mentorship_request.help_type %></td>
        <td><%= mentorship_request.status %></td>
        <td><%= mentorship_request.urgency %></td>
        <td><%= link_to 'Show', mentorship_request %></td>
        <td><%= link_to 'Edit', edit_mentorship_request_path(mentorship_request) %></td>
        <td><%= link_to 'Destroy', mentorship_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>
<% if current_user.is_attendee? %>

<h3><%= current_user.first_name %>'s Mentorship Request</h3>


<div class="panel panel-info">

  <div class="panel-heading">
    <h3 class="panel-title">
    Type of Problem: <%= @mentorship_requests.find_by_user_id(current_user.id).help_type %></h3>
  </div>
  <div class="panel-body">
    <%= @mentorship_requests.find_by_user_id(current_user.id).title %>
  </div>
</div>
 
 <p>
  <strong>Status:</strong>
  <%= @mentorship_requests.find_by_user_id(current_user.id).status %>
</p>
<% end %> 



