
<% if @current_user.is_attendee? %>
  <div class="page-header">
    <h1 class="page-title">Your Mentorship Requests</h1>
  </div>

<% if @current_user.has_mentorship_requests? %>

  <% if @current_user.number_of_requests < 5 %>
  You have <div class = "badge badge-info"> <%= 5 - @current_user.number_of_requests %></div> remaining requests.
  <p>
  <center><%= link_to new_mentorship_request_url do %> <button type="button" class="btn btn-pill btn-primary btn-lg">Make a request.</button> <% end%> </center>
  <% else %>
  You have no remaining requests. Be patient, a mentor will resolve your current requests soon!
  <% end %>
  <p>


  <% @current_user.valid_requests.each do |mentorship_request|%>
  <div class="card">
  <h3 class="card-header">
    <%= mentorship_request.title %>
    <div style="margin-left: 2%; background-color: #926dde;" class="badge badge-primary"> #<%= mentorship_request.id%> </div>
  </h5>
  <div class="card-body">
    <div class="panel-body">
      <strong>Request Urgency: <br></strong>
      <% if  mentorship_request.urgency == 0 %>
          <h4><span class="label label-default">Not Urgent</span></h4>
      <% elsif mentorship_request.urgency == 1 %>
          <h4><span class="label label-info">Mildly Urgent</span></h4>
      <% elsif mentorship_request.urgency == 2 %>
          <h4><span class="label label-warning">Urgent</span></h4>
      <% elsif mentorship_request.urgency == 3 %>
          <h4><span class="label label-danger">Drastically Urgent</span></h4>
      <% end %>
    </div>
    <h5 class="card-title"><%= mentorship_request.description%></h5>
    <h5 class="card-title"><strong>Status:</strong> 
    <% if mentorship_request.status == 'Waiting' %>
    <div class = "badge badge-warning">Waiting </div>
    <% else %>
    <div class = "badge badge-success"> Contacted </div> Check Slack!
    </h5>
    <% end %>
    <p class="card-text">
      
      <% mentorship_request.tech.each do |tech| %>
        <div style="background-color: #926dde;" class="badge badge-primary"> <%= tech %> </div>
      <% end %>
    </p>
    </div>
    </div>
    <% end %>
    
<% else %>
  <div class="card">
  <h3 class="card-header">
    Make a request
    </h5>
    </div>
<% end %>
  

<% else %>
<div class="page-header">
  <h1 class="page-title">Mentorship Dashboard</h1>
</div>


<div class = "card">
  <div class = "card-body">
  <div class = "form-group">
  <div class = "row gutters-xs">
  <div class = "col">
    <%= search_form_for @search do |f| %>

      <%= f.text_field :title_or_user_first_name_or_user_last_name_or_user_id_cont, class: "form-control", placeholder: "Search by Title or User/UserID.." %>
    </div>
    <span class = "col-auto">
      <%= f.button :button, type: :submit, class: "btn btn-secondary" do%>
        <i class = "fe fe-search"> </i>
        <% end %>
      </span>
    <span class = "col-auto">
    <%= link_to mentorship_requests_path do %> 
      <button class = "btn btn-secondary"> 
      <i class = "fe fe-x-circle"></i>
      </button>
     </span>
     <% end %>
      <% end %>
    </div>
    </div>
    
    </div>
  
  

  
  <table class="table table-hover">

    <thead>
    <tr>
      <th><%= sort_link @search, :name_case_insensitive, "Title"%></th>
      <th><%= sort_link @search, :tech, "Type" %></th>
      <th><%= sort_link @search, :urgency, "Urgency" %></th>
      <th>Status</th>
      <th><%= sort_link @search, :created_at, "Time" %></th>
      <th><%= sort_link @search, :id, "By" %></th>
    </tr>
    </thead>

    <tbody>
    <% @mentorship_requests.each do |request| %><a href=""></a>
        <tr>

          <td><%= truncate(request.title) %></td>
          <td><%= truncate(request.tech.join(", ")) %></td>
          <td><%= request.urgency %></td>
          <td><%= request.status %> <%= link_to request do %> <button class = "btn btn-secondary"> <i class= "fe fe-eye"> </i> </button> <% end %></td>
          <td><%= request.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %e, %l:%M %p") %></td>
          <td><%= request.user.full_name%></td>
        </tr>
        </div>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @mentorship_requests%>
  </h2>
  </button>
  </div>
  <% end %>


<br>
