<br>
<%= link_to 'Go Back to Dashboard', mentorship_requests_path, class: 'btn btn-secondary' %>
<br>
<br>

<h2> <%= @mentorship_request.user.first_name %>'s Request  </h2>
<div class="card">
  <h3 class="card-header">
    <%= @mentorship_request.title %>
    <div style="margin-left: 2%" class="badge badge-secondary"> Request ID: #<%= @mentorship_request.id%></div>
  </h5>
  <div class="card-body">
    <h4>
      <strong>Request Urgency:</strong>
      <% if @mentorship_request.urgency == 0 %>
        <span class="badge badge-info">Not Urgent</span>
      <% elsif @mentorship_request.urgency == 1 %>
        <span class="badge badge-warning">Mildly Urgent</span>
      <% elsif @mentorship_request.urgency == 2 %>
        <span class="badge badge-danger">Urgent</span>
      <% elsif @mentorship_request.urgency == 3 %>
        <span class="badge badge-danger">Drastically Urgent</span>
      <% end %>
    </h4>
    <h4>
      <strong>Submitted at:</strong>
      <%= @mentorship_request.created_at %>
    </h4>
    <h5 class="card-title"><%= @mentorship_request.description%></h5>
    <p class="card-text">

      <% @mentorship_request.tech.each do |tech| %>
        <div class="badge badge-secondary"> <%= tech %> </div>
      <% end %>
    </p>

    <p>
      Person's Name: <%= @mentorship_request.user.full_name %><br />
      Person's Email: <%= @mentorship_request.user.email %><br />
      
      <% if HackumassWeb::Application::SLACK_ENABLED %>
        <%= link_to '<i class="fe fe-slack mr-2"></i>Message on Slack'.html_safe,
                      {controller:'mentorship_requests', action: 'message_on_slack',
                      params: {mentorship_request: @mentorship_request}},
                      class: "btn btn-dark", role: "button", tag: "button", target: '_blank', method: :get %>
      <% end %>
      <%= link_to 'Mark as Resolved',
                    {controller:'mentorship_requests', action: 'mark_as_resolved',
                      params: {mentorship_request: @mentorship_request}},
                      class: "btn btn-success", role: "button", tag: "button", method: :put %>
      <%= link_to 'Deny',
                    {controller:'mentorship_requests', action: 'mark_as_denied',
                      params: {mentorship_request: @mentorship_request}},
                    class: "btn btn-danger", role: "button", tag: "button",  method: :put %>
  </div>
</div>

<% if @mentorship_request.screenshot.exists? %>
  <div class="card">
    <h3 class="card-header">Screenshot</h3>
    <div class="card-body">
      <%= image_tag @mentorship_request.screenshot.url %>
    </div>
  </div>
<% end %>
