<div class="row">
  <div class="col col-login mx-auto">
    <%= render 'partial/hackathonlogo', locals: {width: "70%", height: "70%"}%>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html:{class: "card", method: :put}) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="card-body p-6">
        <div class="card-title">Please update your password below</div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <%= f.password_field :password, placeholder: "New Password", autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="form-label">Confirm Password</label>
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: "form-control" %>
        </div>
        <div class="form-footer">
          <%= f.submit "Change Password", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
    <div class="text-center text-muted">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



<!-- LEGACY CODE -->
<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%#= devise_error_messages! %>
  <%#= f.hidden_field :reset_password_token %>
<!--  <div class="col-lg-6 col-lg-offset-3" style="padding-top:60px">-->
<!--    <div class="panel panel-default">-->
<!--      <div class="panel-body">-->
<!--        <form class="form-horizontal">-->
<!--          <fieldset>-->
<!--            <center><%#= image_tag 'HUMVLogo.svg', style:'width:50%;height:50%' %></center>-->
<!--            <center><h6>Please update your password below.</h6></center>-->
<!--            <hr>-->
<!--            <div class="form-group">-->
<!--              <label for="inputPassword" class="col-lg-2 control-label">Password</label>-->
<!--              <div class="col-lg-10">-->
                <%#= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <label for="inputPassword" class="col-lg-2 control-label">Confirm</label>-->
<!--              <div class="col-lg-10">-->
                <%#= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <div class="col-lg-10 col-lg-offset-2" style="padding-top: 5%;margin-bottom: 10px" >-->
                <%#= f.submit "Change Password", class: "btn btn-primary" %>
<!--              </div>-->
<!--            </div>-->
<!--            <br>-->

<!--          </fieldset>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<%# end %>
