<div class="row">
  <div class="col col-login mx-auto">
    <%= render 'partial/hackathonlogo', local_assigns: {width: "70%", height: "70%"}%>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html:{class: "card"}) do |f| %>
      <div class="card-body p-6">
        <div class="card-title">Forgot password</div>
        <p class="text-muted">Enter your email address and you will receive a link to reset your password.</p>
        <div class="form-group">
          <label class="form-label">Email address</label>
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email" %>
        </div>
        <div class="form-footer">
          <%= f.submit "Send Instructions", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
    <div class="text-center text-muted">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>