<!-- Navigation Begins -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><span style="color:#E70F47">Hack</span>UMass</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
        <% if current_user.is_accepted? %>
          <li class="<%= 'active' if current_page?(hardware_items_path) %>"><%= link_to 'Hardware', hardware_items_path %></li>
        <% end %>
        <% if current_user.is_organizer? or current_user.is_admin? %>
          <li class="<%= 'active' if current_page?(event_applications_path) %>"><%= link_to 'Applications', event_applications_path %></li>
        <% end %>
        <% if current_user.is_admin? %>
          <li class="<%= 'active' if current_page?(admin_path) %>"><%= link_to 'Admin', admin_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right" >
        <% if user_signed_in? %>
            <% unless current_user.is_attendee? %>
                <li><a href=""><span class="label label-success"><%= current_user.user_type %></span></a></li>
            <% end %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<!-- Navigation Ends -->
