<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="/">
        <%= image_tag(HackumassWeb::Application::NAV_LOGO_PATH, class: 'header-brand-img')%>
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url('https://d1mpvgh3wz53k.cloudfront.net/Content/img/empty-user-photo.png')"></span>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default"><%= current_user.full_name.camelcase%></span>
              <small class="text-muted d-block mt-1"><%= current_user.user_type.capitalize %></small>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <%= link_to destroy_user_session_path, method: :delete,  class: "dropdown-item" do %>
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
            <% end %>
            <%= link_to redeem_code_path,  class: "dropdown-item" do %>
              <i class="dropdown-icon fe fe-credit-card"></i> Redeem Code
            <% end %>
            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <i class="dropdown-icon fe fe-settings"></i> Account Settings
            <% end %>
          </div>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">

          <li class="nav-item">
            <%= link_to root_path, class: "nav-link #{'active' if is_home_active?}" do %>
              <i class="fe fe-home"></i> Home</a>
            <% end %>
          </li>

          <% if has_access_to_events? %>
            <li class="nav-item">
              <%= link_to events_path, class: "nav-link #{'active' if is_events_active?}" do %>
                <i class="fe fe-calendar"></i> Schedule</a>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_applying? %>
            <li class="nav-item">
              <% if already_applied? %>
                <%= link_to event_application_path(current_user.event_application.id), class: "nav-link #{'active' if is_applications_active?}" do %>
                  <i class="fe fe-file-text"></i>My Registration</a>
                <% end %>
              <% else %>
                <%= link_to apply_path, class: "nav-link #{'active' if is_applications_active?}" do %>
                  <i class="fe fe-file-text"></i>Register</a>
                <% end %>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_mentorship? %>
            <li class="nav-item">
              <%= link_to mentorship_requests_path, class: "nav-link #{'active' if is_mentorship_active?}" do %>
                <i class="fe fe-users"></i> Mentorship</a>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_check_in? %>
            <li class="nav-item">
              <%= link_to check_in_path, class: "nav-link #{'active' if is_check_in_active?}" do %>
                <i class="fe fe-check"></i> Check In</a>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_all_applications? %>
            <li class="nav-item">
              <%= link_to event_applications_path, class: "nav-link #{'active' if is_applications_active?}" do %>
                <i class="fe fe-file"></i> Registrations</a>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_hardware? %>
            <li class="nav-item">
              <%= link_to hardware_items_path, class: "nav-link #{'active' if is_hardware_active?}" do %>
                <i class="fe fe-cpu"></i> Hardware</a>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_prizes? %>
            <li class="nav-item">
              <%= link_to prizes_path, class: "nav-link #{'active' if is_prizes_active?}" do %>
                <i class="fe fe-award"></i> Prizes</a>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_projects? %>
            <% if current_user.is_attendee?%>
              <% if HackumassWeb::Application::PROJECTS_PUBLIC %>
                <li class="nav-item">
                  <%= link_to projects_path, class: "nav-link #{'active' if is_projects_view_active?}" do %>
                    <i class="fe fe-grid"></i> Projects</a>
                  <% end %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to project_submit_info_path, class: "nav-link #{'active' if is_projects_create_active?}" do %>
                  <i class="fe fe-edit"></i> My Project</a>
                <% end %>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to projects_path, class: "nav-link #{'active' if is_projects_view_active?}" do %>
                  <i class="fe fe-grid"></i> Projects</a>
                <% end %>
              </li>
            <% end %>
          <% end %>

          <% if has_access_to_judging?%>
            <li class="nav-item">
              <%= link_to judging_index_path, class: "nav-link #{'active' if is_judging_active?}" do %>
                <i class="fe fe-book"></i>Judging</a>
              <% end %>
            </li>
          <% end %>

          <% if has_access_to_admin?%>
            <li class="nav-item">
              <%= link_to admin_path, class: "nav-link #{'active' if is_admin_active?}" do %>
                <i class="fe fe-briefcase"></i>Admin</a>
              <% end %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>
