<!-- Navigation Begins -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><span style="color:#E70F47">Hack</span>UMass</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">

        <li class="<%= 'active' if is_home_active? %>">
          <%= link_to 'Home', root_path %>    
        </li>

        <% if has_access_to_check_in? %>
            <li class="<%= 'active' if is_check_in_active? %>">
              <%= link_to 'Check In', check_in_path %>
            </li>
        <% end %>

        <% if has_access_to_hardware? %>
          <li class="<%= 'active' if is_hardware_active? %>">
            <%= link_to 'Hardware', hardware_items_path %>
          </li>
        <% end %>

        <% if has_access_to_all_applications? %>
          <li class="<%= 'active' if is_applications_active? %>">
            <%= link_to 'Applications', event_applications_path %>  
          </li>
        <% else %>
          <% begin %>
            <li class="<%= 'active' if is_applications_active? %>">
              <%= link_to 'Application', current_user_application %>  
            </li>
          <% rescue %>
            <%# don't render anything if the program runs into an exception %>
          <% end %>
        <% end %>

        <!-- TODO: Add mentorship link here -->

        <% if has_access_to_admin? %>
          <li class="<%= 'active' if is_admin_active? %>">
            <%= link_to 'Admin', admin_path %>
          </li>
        <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right" >
        <% if user_signed_in? %>
            <% unless current_user.is_attendee? %>
                <li><a href=""><span class="label label-success"><%= current_user.user_type %></span></a></li>
            <% end %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
<!-- Navigation Ends -->
