<!--Organizer Stuff-->
<div class="jumbotron">
  <h1>Hello, <%= current_user.first_name %></h1>
  <p>You're an organizer and that's awesome! Here's some things we think you might care about.</p>
</div>

<div class="row">

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">RSVP Count <span class="label label-primary"><%= EventApplication.where(:rsvp => true).count%></span></div>
      <div class="panel-body">
        <%= pie_chart EventApplication.where(:application_status => 'accepted').group(:rsvp).count %>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Check-In Count <span class="label label-primary"><%= EventApplication.where(:check_in => true).count%></div>
      <div class="panel-body">
        <%= pie_chart EventApplication.where(:application_status => 'accepted').group(:check_in).count %>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Extra Info</div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong> Number of Hardware Checkouts: </strong> <span class="label label-success"><%= HardwareCheckout.all.count %></span>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <strong> Number of Mentorship Requests: </strong> <span class="label label-success"><%= MentorshipRequest.all.count %></span>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <strong> Number of Events Happening: </strong> <span class="label label-success"><%= Event.all.count %></span>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <strong> Number of fucks given: </strong> <span class="label label-success">0</span>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
