<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<center><h4>Users Signups <span class="label label-primary"><%= User.all.count %></span></h4></center>
<%= line_chart User.group_by_day(:created_at).count %>
<hr>

<center><h4>Applications Submitted <span class="label label-primary"><%= EventApplication.all.count %></span></h4></center>
<%= line_chart EventApplication.group_by_day(:created_at).count %>

<center><h4>Applicants RSVP<span class="label label-primary"><%= EventApplication.where(:rsvp => true).count%></span></h4></center>
<%= pie_chart EventApplication.where(:application_status => 'accepted').group(:rsvp).count %>

<hr>
<center><h4>T-Shirt Size Breakdown (People that RSVP'd)</h4></center>
<center><%= bar_chart EventApplication.where(:application_status => 'accepted').group(:t_shirt).count %>

<hr>
<center><h4>Gender Breakdown (People that RSVP'd)</h4></center>
<%= pie_chart EventApplication.where(:application_status => 'accepted').group(:sex).count %>

<hr>
<center><h4>Travel Requirements (People that RSVP'd)</h4></center>
<%= pie_chart EventApplication.where(:application_status => 'accepted').group(:transportation).count %>


<hr>
  <center><h4>Graduation Year Breakdown (People that RSVP'd) </h4></center>
<%= pie_chart EventApplication.where(:application_status => 'accepted').group(:grad_year).count %>

<hr>
  <center><h4>Applicants Previous Hackathon Acceptance (People that RSVP'd)</h4></center>
<%= pie_chart EventApplication.where(:application_status => 'accepted').group(:previous_hackathon_attendance).count %>