<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<h4>Users Signups <span class="label label-primary"><%= User.all.count %></span></h4>
<%= line_chart User.group_by_day(:created_at).count %>
<hr>

<h4>Applications Submitted <span class="label label-primary"><%= EventApplication.all.count %></span></h4>
<%= line_chart EventApplication.group_by_day(:created_at).count %>

<hr>
<h4>Applicants Gender Breakdown</h4>
<%= pie_chart EventApplication.group(:sex).count %>

<hr>
<h4>Applicants T-Shirt Size Breakdown </h4>
<%= bar_chart EventApplication.group(:t_shirt).count %>

<hr>
<h4>Applicants Graduation Year Breakdown</h4>
<%= pie_chart EventApplication.group(:grad_year).count %>

<hr>
<h4>Applicants Previous Hackathon Acceptance</h4>
<%= pie_chart EventApplication.group(:previous_hackathon_attendance).count %>