<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class:'control-label' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'What shall we call this event?' %>
  </div>

  <div class="form-group">
    <%= f.label :description, class:'control-label' %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Get people excited by writing a good event description' %>
  </div>

  <div class="form-group">
    <%= f.label :location, class:'control-label' %>
    <%= f.text_field :location, class: 'form-control', placeholder: 'Where is this? Most likely ILC' %>
  </div>

  <div class="form-group">
    <%= f.label :host, class:'control-label' %>
    <%= f.text_field :host, class: 'form-control', placeholder: "Is this hosted by a sponsor? Otherwise write #{HackumassWeb::Application::HACKATHON_NAME}"  %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, class:'control-label' %> (Format mm/dd/yyyy HH:mm AM or PM)<br>
    <%= f.datetime_field :start_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_time, class:'control-label' %> (Format mm/dd/yyyy HH:mm AM or PM)<br>
    <%= f.datetime_field :end_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    Can participants RSVP to this event?<br>
    <select class='form-control' name="event[rsvpable]" id="event_rsvpable">
      <option value="true">Yes</option>
      <option selected="selected" value="false">No</option></select>
  </div>
  
  <div class="form-group">
    <%= f.label :max_seats, class:'control-label' %>
    <%= f.number_field :max_seats, class: 'form-control', id: 'maxSeatsNumber'%>
  </div>
  
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
<script>
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
<script>
  let a = document.getElementById("event_rsvpable");
  let b = document.getElementById("maxSeatsNumber");
  if(a.value === "true"){
    b.disabled = false;
    b.required = true;
  } else {
    b.disabled = true;
    b.required = false;
    b.value = "";
  }
  a.onclick = function(){
    if(a.value === "true"){
      b.disabled = false;
      b.required = true;
    } else {
      b.disabled = true;
      b.required = false;
      b.value = "";
    }
  };
</script>