<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class:'control-label' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'What shall we call this event?' %>
  </div>

  <div class="form-group">
    <%= f.label :description, class:'control-label' %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Get people excited by writing a good event description' %>
  </div>

  <div class="form-group">
    <%= f.label :location, class:'control-label' %>
    <%= f.text_field :location, class: 'form-control', placeholder: 'Where is this? Most likely ILC' %>
  </div>

  <div class="form-group">
    <%= f.label :host, class:'control-label' %>
    <%= f.text_field :host, class: 'form-control', placeholder: "Is this hosted by a sponsor? Otherwise write #{HackumassWeb::Application::HACKATHON_NAME}"  %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, class:'control-label' %> (Format dd/mm/yyyy HH:mm AM or PM)<br>
    <%= f.datetime_field :start_time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_time, class:'control-label' %> (Format dd/mm/yyyy HH:mm AM or PM)<br>
    <%= f.datetime_field :end_time, class: 'form-control' %>
  </div>

  <div class="custom-control custom-switch">
    <%= f.check_box :rsvpable%>
    <%= f.label :rsvpable, class: 'control-label'%>
  </div>
  
  <div class="form-group" id="">
    <%= f.label :max_seats, class:'control-label' %>
    <%= f.number_field :max_seats, class: 'form-control', required: true%>
  </div>
  
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
<script>
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
