<div class="row">

  <% @events.each do |event| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="featured-event">
          <a href="<%= event_path(event) %>">
            <!--TODO: Replace with event.thumbnail-->
            <img src="http://www.canadianbusiness.com/wp-content/uploads/2014/02/html500.jpg" alt="" >
            
            <div class="block-title">
              <h4 style="color: #ffffff"><%= event.title %></h4>
              <p class="by-author"><small><%= event.time %>  |  <%= event.location %></small></p>
            </div>
          </a>

        </div>
      </div>
    </div>
  <% end %>

</div>

<br>

<% if current_user.is_admin? %>
  <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
<% end %>
