<div class="page-header">
  <h1 class="page-title">Events</h1>
</div>

<% if @events.empty? %>
    <center><h3>Looks like there aren't any events yet....</h3></center>
<% end %>


<% @events.in_groups_of(3, false).each do |group| %>
    <div class="row">
      <% group.each do |event| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="caption" style="margin-top: -5%">
                  <h3><%= event.title %></h3>
                  <p><b>Start Time:</b> <%= event.start_time.strftime("%b %e, %l:%M %p")%></p>
                  <p><b>Location:</b> <%= event.location %></p>
                  <p><b>Description:</b> <br>
                    <%= event.description %></p>
                  <% if current_user.is_admin? %>
                    <%= link_to 'Show', event_path(event), class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            </div>
      <% end %>
    </div>
<% end %>



<br>

<% if current_user.is_admin? %>
  <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
<% end %>
