<div class="page-header">
  <h1 class="page-title">Schedule</h1>
</div>

<% if [true, false].sample %>
  <div class="alert alert-icon alert-primary" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i> <b>Just FYI:</b> This is a live schedule! More events, workshops, and talks will be added before the hackathon begins and even during the hackathon.
  </div>
<% end %>

<% if @events.empty? %>
    <center><h3>Looks like there aren't any events yet....</h3></center>
<% end %>



<% @events.each do |event| %>
  <div class="card card-aside">
    <div class="card-aside-column text-center" style="background-color: #764ba2; flex:none;width:9em">
      <h2 style="color:white; margin-top:55%" style="vertical-align:middle"><%= event.start_time.strftime('%I:%M%p') %></h2>
    </div>
    <div class="card-body d-flex flex-column">
      <h4> <%= link_to event.title.titleize, event %></h4>
      <p class="text-muted"><b>Location:</b> <%= event.location%> | <b>Hosted by:</b> <%= event.host%></p>
      <div style="margin-bottom: 1em"><%= event.description%></div>
      <p><%= event.start_time.strftime('%A, %b %d from %I:%M %p')%> to <%= event.end_time.strftime('%I:%M %p')%></p>
      <% if event.rsvpable %>
        <% if current_user.is_attendee? && (event.start_time - 0.seconds.ago) <= 1.hour && event.start_time - 0.seconds.ago > 0.hour%>
          <% if EventAttendance.find_by(event_id: event.id, user_id: current_user.id).nil? %>
            <% if event.numberRSVPd() < event.max_seats %>
              <%= button_to 'RSVP', event_add_user_path(user_id: current_user.id, event_id: event.id), :method=>:post, class: 'btn btn-success'%>
            <% else %>
              <button type="button" class="btn btn-danger" disabled>Event full!</button>
            <% end %>
          <% else %>
              <%= button_to 'UnRSVP', event_remove_user_path(user_id: current_user.id, event_id: event.id), :method=>:post, class: 'btn btn-danger'%>
          <% end %>
        <% elsif event.start_time - 0.seconds.ago > 1.hour %>
          <button type="button" class="btn btn-danger" disabled>You can RSVP an hour before the event starts</button>
        <% elsif event.start_time - 0.seconds.ago < 0.hour %>
          <button type="button" class="btn btn-danger" disabled>Event has already started</button>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<center>
  <%= will_paginate @events %>
</center>


<br>

<% if current_user.is_admin? %>
  <%= link_to 'New Event', new_event_path, class: 'btn btn-secondary' %>
<% end %>
