<% if @events.empty? %>
    <center><h3>Looks like there aren't any events yet....</h3></center>
<% end %>

<div class="row">

  <% @events.each do |event| %>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag event.image.url %>
            <div class="caption" style="margin-top: -5%">
              <h3><%= event.title %></h3>
              <p><b>Time:</b> <%= event.time.strftime("%b %e, %l:%M %p")%></p>
              <p><b>Location:</b> <%= event.location %></p>
              <p><b>Description:</b> <br>
                <%= event.description %></p>
              <% if current_user.is_admin? %>
                <%= link_to 'Show', event_path(event), class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>

  <% end %>

</div>

<br>

<% if current_user.is_admin? %>
  <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
<% end %>

