<div class="page-header">
  <h1 class="page-title"><%= @event.title %></h1>
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <p>
        <strong>Title:</strong>
        <%= @event.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @event.location %>
      </p>

      <p>
        <strong>Host:</strong>
        <%= @event.host %>
      </p>

      <p>
        <strong>Start Time:</strong>
        <%= @event.start_time.strftime('%A, %b %d at %I:%M %p') %>
      </p>

      <p>
        <strong>End Time:</strong>
        <%= @event.end_time.strftime('%A, %b %d at %I:%M %p') %>
      </p>

     
      <% if @event.rsvpable%>
      <p>
        <strong>Maximum seats:</strong>
        <%= @event.max_seats %>
      </p>
      <% end %>
      <% if current_user.is_admin? or current_user.is_organizer?%>
        <p>
          <strong>This event was created by:</strong>
          <%= @event.created_by %>
        </p>
        <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-warning' %>
        <%= link_to 'Delete', event_path(@event), :method => :delete, class: 'btn btn-danger' %>
      <% end %>
      <% if @event.rsvpable %>
        <% if EventAttendance.find_by(event_id: @event.id, user_id: current_user.id).nil? %>
          <% if EventAttendance.where(event_id: @event.id).count < @event.max_seats %>
            <%= button_to 'RSVP', event_add_user_path(user_id: current_user.id, event_id: @event.id), :method=>:post, class: 'btn btn-success'%>
          <% else %>
            <button type="button" class="btn btn-danger" disabled>Event full!</button>
          <% end %>
        <% else %>
            <%= button_to 'UnRSVP', event_remove_user_path(user_id: current_user.id, event_id: @event.id), :method=>:post, class: 'btn btn-danger'%>
        <% end %>
        <% if current_user.is_admin? or current_user.is_organizer?%>
          <div class="col-lg-6">
            <ul>
            <% @event.users.each do |atten|%>
              <li><%=atten.full_name%></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<style>
form.button_to { display: inline }
</style>
<div class="col-lg-6">
  <%= link_to 'Go Back to Schedule', events_path, class: 'btn btn-secondary' %>
</div>