<div class="page-header">
  <h1 class="page-title"><%= @event.title %></h1>
</div>

<div class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <p>
        <strong>Title:</strong>
        <%= @event.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @event.location %>
      </p>

      <p>
        <strong>Host:</strong>
        <%= @event.host %>
      </p>

      <p>
        <strong>Start Time:</strong>
        <%= @event.start_time.strftime('%A, %b %d at %I:%M %p') %>
      </p>

      <p>
        <strong>End Time:</strong>
        <%= @event.end_time.strftime('%A, %b %d at %I:%M %p') %>
      </p>

      <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-warning' %>
      <%= link_to 'Delete', event_path(@event), :method => :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <%= link_to 'Go Back to Schedule', events_path, class: 'btn btn-secondary' %>
</div>
