<%= form_for(@hardware_checkout) do |f| %>
  <% if @hardware_checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hardware_checkout.errors.count, "error") %> prohibited this hardware_checkout from being saved:</h2>

      <ul>
      <% @hardware_checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <div class="field">
    <%= f.text_field :user_id, class: 'form-control', placeholder: 'Scan QR Code or Type email', :autofocus => true, data: {autocomplete: autocomplete_user_email_hardware_checkouts_path}, 'min-length' => 1 %>
  </div>
  <br>

  <div class="field">
    <%= f.number_field :hardware_item_id, hidden: true, value: @hardware_item.id %>
  </div>


  <div class="actions">
    <%= f.submit 'Checkout Item', class: 'btn btn-warning'%>
  </div>
<% end %>
