<br>
<div class="col-lg-2">
<%= link_to 'Go Back to Hardware', hardware_items_path, class: 'btn btn-secondary btn-block' %>
</div>


<div class="page-header">


  <h1 class="page-title">All Checked Out Items</h1>

  <%= form_tag all_checked_out_hardware_items_path, method: :get, class:'col-lg-12' do%>
      <div class="input-group">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for hardware checkouts by email', :autofocus => true%>
        <span class="input-group-btn">
          <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
        </span>
      </div>
  <%end%>
</div>

<% if @hardware_checkouts.empty? %>
  <div class="card">
    <div class="card-body text-center">
      <h2>Looks like there are no hardware checkouts..</h2>
    </div>
  </div>
<% else %>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
        <thead>
          <tr>
            <th>Hardware Item</th>
            <th>Attendee Name</th>
            <th>Checked Out Timen</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @hardware_checkouts.each do |checkout| %>
          <tr>
            <td><%= truncate(checkout.hardware_item.name) %></td>
            <td><%= checkout.user.full_name %></td>
            <td><%= checkout.created_at.strftime('%A, %b %d at %I:%M %p') %></td>
            <td><%= link_to 'Return Item', checkout, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure you want to return this item?' } %>
            <a href="https://<%= HackumassWeb::Application::SLACK_SUBDOMAIN %>.slack.com/messages/<%= checkout.user.get_slack_id %>" target="_blank" class="btn btn-sm btn-dark"><i class="fe fe-slack mr-2"></i>Message on Slack</a></td>
          </tr>
        <% end %>
        </tbody>

      </table>

    </div>
  </div>
<% end %>

<center>
  <%= will_paginate @hardware_checkouts %>
</center>
