<div class="page-header">
  <h1 class="page-title">Hardware Inventory</h1>
</div>


<div class="card">
  <div class="card-body">
      <%= form_tag search_hardware_items_path, method: :get, class:'col-lg-12' do%>
          <div class="input-group">
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for hardware items by name', :autofocus => true%>
            <span class="input-group-btn">
              <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
            </span>
          </div>
      <%end%>
    </div>
</div>

<div class="card">
  <div class="table-responsive">
    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
      <thead>
        <tr>
          <% if current_user.is_organizer? %>
              <th>UID</th>
          <% end %>
          <th>Name</th>
          <th>Category</th>
          <th>Count</th>
          <th>Available</th>
          <th>Link</th>
          <th>Location</th>
        </tr>
      </thead>

      <tbody>
      <% @hardware_items.each do |item| %><a href=""></a>
        <tr>
          <% if current_user.is_organizer? %>
              <td><%= link_to item.uid, item %></td>
          <% end %>
          <td><%= item.name %></td>
          <td><%= item.category %></td>
          <td><%= item.count %></td>
          <% if item.is_available? == 'Yes' %>
              <td> <span class="label label-success"><%= item.is_available? %></span></td>
          <% else %>
              <td> <span class="label label-danger"><%= item.is_available? %></span></td>
          <% end %>

          <% if item.link.nil? or item.link.empty? %>
              <td>--</td>
          <% else %>
              <td><a href="<%= item.link %>" target="_blank">Link</a></td>
          <% end %>

          <% if item.location.nil? or item.location.empty? %>
              <td>--</td>
          <% else %>
              <td><%= item.location %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>

    </table>

  </div>
</div>

<br>

<% if current_user.is_organizer? %>
  <%= link_to 'New Hardware Item', new_hardware_item_path, class: 'btn btn-primary' %>
<% end %>
