<div class="page-header">
  <h1 class="page-title">Hardware Details</h1>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-status bg-purple"></div>
      <div class="card-header">
        <h3 class="card-title">Hardware Info</h3>
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @hardware_item.name %>
        </p>

        <p>
          <strong>Count:</strong>
          <%= @hardware_item.count %>
        </p>

        <p>
          <strong>Link:</strong>
          <% if @hardware_item.link.nil? or @hardware_item.link.empty?%>
            No Link Available
        <% else %>
            <%= link_to @hardware_item.link, @hardware_item.link, target: :_blank %>
        <% end %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @hardware_item.category %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @hardware_item.location %>
        </p>

        <% if current_user.is_organizer? %>
            <%= link_to 'Edit', edit_hardware_item_path(@hardware_item), class: 'btn btn-warning' %>
        <% end %>

        <% if current_user.is_admin?%>
            <%= link_to 'Delete', hardware_item_path(@hardware_item), :method => :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this item?' } %>
            <%= link_to 'Download CSV', hardware_item_path(@hardware_item, format: 'csv'), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-status bg-warning"></div>
      <div class="card-header">
        <h3 class="card-title">Checkout this Item</h3>
      </div>
      <div class="card-body">
        <%= render 'checkout' %>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Checked Out By: </h3>
        </div>
        <div class="card-body">
          <%= render 'checked_out_items'%>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Checkout Log:</h3>
        </div>
        <div class="card-body">
          <%= render 'checkout_log' %>
        </div>
      </div>
  </div>
</div>