<div class="col-lg-6">

  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>Name:</strong>
        <%= @hardware_item.name %>
      </p>

      <p>
        <strong>Count:</strong>
        <%= @hardware_item.count %>
      </p>

      <p>
        <strong>Link:</strong>
        <% if @hardware_item.link.empty? %>
          No Link Available
      <% else %>
          <%= link_to @hardware_item.link, @hardware_item.link, target: :_blank %>
      <% end %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @hardware_item.category %>
      </p>

      <p>
        <strong>Available:</strong>
        <%= @hardware_item.is_available? %>
      </p>

      <p>
        <strong>Upc:</strong>
        <%= @hardware_item.upc %>
      </p>
    </div>
    </div>



  <%= link_to 'Back', hardware_items_path, class: 'btn btn-default', style: 'color: #2196F3' %>
  <%= link_to 'Edit', edit_hardware_item_path(@hardware_item), class: 'btn btn-warning' %>
  <%= link_to 'Delete', hardware_item_path(@hardware_item), :method => :delete, class: 'btn btn-danger' %>
  </div>



<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">Barcode</div>
    <div class="panel-body">
      <%= render 'barcode' %>
    </div>
  </div>
</div>







