<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Events</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% @upcoming_events.each do |event| %>
              <a href="<%= events_path %>" class="list-group-item">
                <h5 class="list-group-item-heading"><%= event.title %></h5>
                <p class="list-group-item-text"><%= event.location %></p>
              </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Your Hardware Checkouts</h3>
      </div>
      <div class="panel-body">
        <% if current_user.hardware_checkouts.any? %>
            <div class="list-group">
            <% current_user.hardware_checkouts.each do |checkout| %>
                <a class="list-group-item"><%= checkout.hardware_item.name %></a>
            <% end %>
            </div>
      <% else %>
          It seems like you haven't checked out any hardware yet.
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Mentorship Requests</h3>
      </div>
      <div class="panel-body">
        <!--TODO: Actually check if they have created a mentorship request-->
        <p>Looks like you haven't asked for a mentor yet. Create a mentorship request if you do!</p>
        <%= link_to 'I need a mentor', new_mentorship_request_path, class: 'btn btn-info btn-md' %>
      </div>
    </div>
  </div>
</div>