<div class="jumbotron">
  <% if current_user.has_applied? %>
      <h1>Hey, <%= current_user.first_name %> </h1>
      <p>Thanks for submitting your application! We'll send you an email if you got in.</p>
      <p>Your application status is: <span class="label label-info" style="font-size: 80%"><%= current_user.event_application.application_status.capitalize %></span></p>
  <% else %>
      <h1>Hello, <%= current_user.first_name %> </h1>
      <p>Registration is now closed but you can still apply for our waitlist.</p>
      <%= link_to 'Apply for Waitlist', apply_path, data: {turbolinks: false}, class: 'btn btn-warning btn-lg'%>
  <% end %>
</div>

<% if current_user.is_accepted? or current_user.is_admin?%>
    <%= render 'home_actions' %>
  <% else %>
  <div class="panel panel-default">
    <div class="panel-body">
      <center><h6>Welcome to your dashboard! All the features will be unlocked if you get accepted!</h6></center>
    </div>
  </div>
<% end %>
