<div class="card-body">

 <noscript>
    Hello, <%= current_user.first_name %>! It seems like you have javascript
    currently disable. In order to have everything function properly during
    the sign up, please enable javascript for the duration of the sign up.
    Thank you cooperation and we hope you see at HackUMass!
  </noscript>

  <div class="col-lg-8">
    <%= form_with(model: project, local: true) do |form| %>
      <% if project.errors.any? %>
        <div id="card">
          <div class="card-status bg-danger"></div>
          <div class="card-header">
            <h3 class="page-title">
            <%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:
           </h3>
          </div>
        <div class="card-body projects-error-card-padding">
          <ul>
            <% project.errors.full_messages.each do |message| %>
              <li><%= message.to_s.gsub(%r{[\[\]"]}, '').gsub(%r{\\n}, '')  %></li>
            <% end %>
          </ul>
        </div>
        </div>
    <% end %>

  <div class="form-group">
    <%= form.label :title, class:'control-label' %>
    <%= form.text_field :title, id: :project_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class:'control-label' %>
    <%= form.text_area :description, id: :project_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :link, class:'control-label' %>
    <%= form.text_field :link, id: :project_link, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :team_members, class:'control-label' %>
    <%= form.text_field :team_members, id: :project_team_members, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
</div>
