<div class="page-header" style="position: relative">
  <h1 class="page-title">Projects</h1>
  <%= link_to 'View Public Projects', public_projects_path, class: 'btn btn-purple', style: 'position: absolute; right: 0' %>
</div>

<% if @projects.empty? %>
  <center>
    <h3>Seems like there are no projects submitted...</h3>
  </center>

<% else %>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <%= form_tag search_projects_path, method: :get, class:'col-lg-12' do %>
          <div class="row gutters-xs">
            <div class="col">
              <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for anything i.e. table number, team members title', :autofocus => true %>
            </div>
            <span class="col-auto">
              <%= submit_tag 'Search', name: nil, class: 'btn btn-secondary' %>
		          <a href="/projects.csv" class="btn btn-secondary">Download as CSV</a>
            </span>
          </div>
        <%end%>
      </div>
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
          <thead>
            <tr>
              <th>Table #</th>
              <th>Title</th>
              <th>Description</th>
              <th>Team Members</th>
            </tr>
          </thead>

          <tbody>
            <% @projects.each do |project| %>
            <tr>
              <% if project.table_id.nil? %>
                <td>TBD</td>
              <% else %>
                <td>
                  <%= project.table_id %>
                  <% if project.power %>
                    (TBL)
                  <% end %>
                </td>
              <% end %>

              <td><%= link_to truncate(project.title, length: 30), project %></td>
              <td><%= truncate(project.description, length: 150) %></td>
              <td>
                <% proj_users = "" %>
                <% project.user.each do |u|  %>
                  <% proj_users << u.first_name + " "%>
                  <% if u != project.user.last %>
                    <% proj_users << u.last_name + ", "%>
                  <% else %>
                    <% proj_users << u.last_name %>
                  <% end %>
                <% end %>
                <%= truncate(proj_users, length: 100) %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<br>

<center>
  <%= will_paginate @projects %>
</center>
