<div class="page-header">
  <h1 class="page-title"><%= @project.title %></h1>
</div>

<div class="row">

  <div class="col-md-6 col-xl-8">
    <div class="card">
      <div class="card-body">

        <% unless @project.projectimage.blank? %>
          <img src="<%= @project.projectimage.url %>" alt="">
        <% end %>

        <h2 class="mt-0 mb-4">Description:</h2>
        <p>
          <%= simple_format(@project.description) %>
        </p>

        <h2 class="mt-0 mb-4">Inspiration:</h2>
        <p>
          <%= simple_format(@project.inspiration) %>
        </p>

        <h2 class="mt-0 mb-4">What it does:</h2>
        <p>
          <%= simple_format(@project.does_what) %>
        </p>

        <h2 class="mt-0 mb-4">How we built it:</h2>
        <p>
          <%= simple_format(@project.built_how) %>
        </p>

        <h2 class="mt-0 mb-4">Challenges we ran into:</h2>
        <p>
          <%= simple_format(@project.challenges) %>
        </p>

        <h2 class="mt-0 mb-4">Accomplishments that we're proud of:</h2>
        <p>
          <%= simple_format(@project.accomplishments) %>
        </p>

        <h2 class="mt-0 mb-4">What we learned:</h2>
        <p>
          <%= simple_format(@project.learned) %>
        </p>

        <h2 class="mt-0 mb-4">What's next:</h2>
        <p>
          <%= simple_format(@project.learned) %>
        </p>

        <h2 class="mt-0 mb-4">Built with:</h2>
        <p>
          <%= simple_format(@project.built_with) %>
        </p>


        <h2 class="mt-0 mb-4">Prize we're going for:</h2>
        <p>
          <% if @project.prizes != "{}" %>
            <%= @project.prizes.tr('"', '').tr('[]', '') %>
          <% else %>
            No Prizes Chosen
          <% end %>
        </p>

      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-status card-status-left bg-blue"></div>
      <div class="card-header">
        <h3 class="card-title">Team Members</h3>
      </div>
      <div class="card-body">
        <%= @project.team_members %>
      </div>
    </div>

    <% if !@project.link.empty? %>
      <%= link_to @project.link, class: "btn btn-github" do %>
        <i class="fe fe-github"></i> View on Github</a>
        <br>
        <br>
      <% end %>
    <% end %>


    <% if @project.user == current_user %>
      <%= link_to 'Edit Your Project', edit_project_path(@project), class: 'btn btn-secondary' %>
    <% end %>
  </div>

</div>

<br>
