<div class="page-header">
  <h1 class="page-title"><%= @project.title %></h1>
</div>

<div class="row">

  <div class="col-md-8 col-xl-8">
    <div class="card">
      <div class="card-body">

        <% unless @project.projectimage.blank? %>
          <img src="<%= @project.projectimage.url %>" alt="">
        <% end %>

        <h2 class="mt-0 mb-4">Description:</h2>
        <p>
          <%= simple_format(@project.description) %>
        </p>

        <h2 class="mt-0 mb-4">Inspiration:</h2>
        <p>
          <%= simple_format(@project.inspiration) %>
        </p>

        <h2 class="mt-0 mb-4">What it does:</h2>
        <p>
          <%= simple_format(@project.does_what) %>
        </p>

        <h2 class="mt-0 mb-4">How we built it:</h2>
        <p>
          <%= simple_format(@project.built_how) %>
        </p>

        <h2 class="mt-0 mb-4">Challenges we ran into:</h2>
        <p>
          <%= simple_format(@project.challenges) %>
        </p>

        <h2 class="mt-0 mb-4">Accomplishments we're proud of:</h2>
        <p>
          <%= simple_format(@project.accomplishments) %>
        </p>

        <h2 class="mt-0 mb-4">What we've learned:</h2>
        <p>
          <%= simple_format(@project.learned) %>
        </p>

        <h2 class="mt-0 mb-4">What's next:</h2>
        <p>
          <%= simple_format(@project.next) %>
        </p>

        <h2 class="mt-0 mb-4">Built with:</h2>
        <p>
          <%= simple_format(@project.built_with) %>
        </p>

        <h2 class="mt-0 mb-4">Prizes we're going for:</h2>
        <p>
          <% if @project.prizes != "{}" %>
            <%= @project.prizes %>
          <% else %>
            No Prizes Chosen
          <% end %>
        </p>

        <p style="color:red">
        <% if @project.power == true %>
          This project requires a wall outlet.
        <% else %>
          This project does not require a wall outlet.
        <% end %>
        </p>

      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-4">
    <div class="card">
      <div class="card-status card-status-left bg-blue"></div>
      <div class="card-header">
        <h3 class="card-title">Team Members</h3>
      </div>
      <div class="card-body">
        <% @project.user.each do |u|  %>
        <%= u.first_name %>
        <%= u.last_name %>
        (<%= u.email %>)
        <br>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-status card-status-left bg-danger"></div>
      <div class="card-header">
        <h3 class="card-title">Table Number</h3>
      </div>
      <div class="card-body">
        <center>
          <% if !@project.table_id.nil? %>
          <h1 style="color:red">
            Table <%= @project.table_id %>
          </h1>
          <% else %>
          <h1 style="color:red">
            Table TBD
          </h1>
          <% end %>
        </center>
      </div>
    </div>



    <% if !@project.link.empty? %>
      <%= link_to @project.link, class: "btn btn-github" do %>
        <i class="fe fe-github"></i> View on Github</a>
        <br>
        <br>
      <% end %>
    <% end %>


    <% if @project.id == current_user.project_id %>
      <%= link_to 'Edit Your Project', edit_project_path(@project), class: 'btn btn-secondary' %>
      <br>
      <br>
    <% end %>

    <% if @project.id == current_user.project_id %>
      <%= link_to 'Edit Your Team', project_team_path(@project), class: 'btn btn-secondary' %>
      <br>
      <br>
    <% end %>

    <% if @project.id == current_user.project_id or current_user.is_admin? %>
      <%= link_to 'Delete Project', project_path(@project), :method => :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this project? This means you will not be judged!' } %>
    <% end %>

  </div>



</div>

<br>
