<% unless current_user %>
    </div>
    <%= render 'public_navigation' %>
    <div class="container">
<% end %>


<div class="page-header">
  <h1 class="page-title"><%= @project.title %></h1>
</div>

<% if current_user and current_user.user_type != 'attendee' %>
  <% if JudgingAssignment.where(user_id: current_user.id, project_id: @project.id).present? %>
    <div class="alert alert-success">
        <strong>You have been assigned to judge this project.</strong>
        <strong>
          <%= link_to "You can view your assignments here.", judging_index_path %>
        </strong>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <% if !@project.link.empty? %>
              <div class="col-md-3 mb-2 text-center">
                <%= link_to @project.link, class: "btn btn-github" do %>
                  <i class="fe fe-github"></i> View on Github
                <% end %>
              </div>
            <% end %>

            <% if current_user and @project.id == current_user.project_id %>
              <div class="col-md-3 mb-2 text-center">
                <%= link_to edit_project_path(@project), class: 'btn btn-secondary' do %>
                  <i class="fe fe-edit-3"></i> Edit Project
                <% end %>
              </div>
            <% end %>

            <% if current_user and (@project.id == current_user.project_id or current_user.is_admin? or current_user.is_organizer?) %>
              <div class="col-md-3 mb-2 text-center">
                <%= link_to project_team_path(@project), class: 'btn btn-secondary' do %>
                  <i class="fe fe-user-plus"></i> Edit Team Members
                <% end %>
              </div>
            <% end %>

            <% if current_user and (@project.id == current_user.project_id or current_user.is_admin?) and !is_judging_active? %>
              <div class="col-md-3 mb-2 text-center">
                <%= link_to project_path(@project), :method => :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this project? This means you will not be judged!' } do %>
                  <i class="fe fe-trash"></i> Delete Project
                <% end %>
              </div>         
            <% end %>
        </div> 
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-8 col-xl-8">
    <div class="card">
      <div class="card-body">

        <% unless @project.projectimage.blank? %>
          <img src="<%= @project.projectimage.url %>" alt="">
        <% end %>

        <% unless @project.youtube_link.blank? %>
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/<%= @project.get_youtube_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>

        <h2 class="mt-0 mb-4">Description as a Tweet:</h2>
        <p>
          <%= simple_format(@project.description) %>
        </p>

        <h2 class="mt-0 mb-4">Inspiration:</h2>
        <p>
          <%= simple_format(@project.inspiration) %>
        </p>

        <h2 class="mt-0 mb-4">What it does:</h2>
        <p>
          <%= simple_format(@project.does_what) %>
        </p>

        <h2 class="mt-0 mb-4">How we built it:</h2>
        <p>
          <%= simple_format(@project.built_how) %>
        </p>

        <h2 class="mt-0 mb-4">Technologies we used:</h2>
        <ul>
        <% unless @project.tech.empty? or @project.tech == "{}" %>
          <% @project.tech.each do |tech| %>
            <li><%= tech %></li>
          <% end %>
        <% end %>
        </ul>

        <h2 class="mt-0 mb-4">Challenges we ran into:</h2>
        <p>
          <%= simple_format(@project.challenges) %>
        </p>

        <h2 class="mt-0 mb-4">Accomplishments we're proud of:</h2>
        <p>
          <%= simple_format(@project.accomplishments) %>
        </p>

        <h2 class="mt-0 mb-4">What we've learned:</h2>
        <p>
          <%= simple_format(@project.learned) %>
        </p>

        <h2 class="mt-0 mb-4">What's next:</h2>
        <p>
          <%= simple_format(@project.next) %>
        </p>

        <h2 class="mt-0 mb-4">Built with:</h2>
        <p>
          <%= simple_format(@project.built_with) %>
        </p>

        <h2 class="mt-0 mb-4">Prizes we're going for:</h2>
        <p>
          <% if @project.prizes != "{}" and not @project.prizes.empty? %>
          <ul>
            <% @project.prizes.each do |prize| %>
              <li><%= prize %></li>
            <% end %>
          </ul>
          <% else %>
            No Prizes Chosen
          <% end %>
        </p>

        <% if current_user %>
          <p style="color:red">
          <% if @project.power == true %>
            This project is being judged live.
          <% else %>
            This project is being judged via video.
          <% end %>
          </p>
        <% end %>

      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-4">
    <% unless @project.prizes_won.empty? %>
      <div class="card">
        <div class="card-status card-status-left bg-green"></div>
        <div class="card-header">
          <h3 class="card-title">Prizes Won</h3>
        </div>
        <div class="card-body" style="font-size: 16px">
          <% @project.prizes_won.each do |prize| %>
            <%= prize %> <br />
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card">
      <div class="card-status card-status-left bg-blue"></div>
      <div class="card-header">
        <h3 class="card-title">Team Members</h3>
      </div>
      <div class="card-body">
        <% @project.user.each do |u|  %>
        <%= u.first_name %>
        <%= u.last_name %>
        <% if (current_user and (@project.id == current_user.project_id or current_user.is_organizer?)) %>
          (<%= u.email %>)
        <% end %>
        <br>
        <% end %>
      </div>
    </div>

  
    <div class="card">
      <div class="card-status card-status-left bg-danger"></div>
      <div class="card-header">
        <h3 class="card-title">Table Number</h3>
      </div>
      <div class="card-body">
        <center>
          <% if !@project.table_id.nil? %>
          <h1 style="color:red">
            Table <%= @project.table_id %>
            <% if @project.power %>
              (TBL)
            <% end %>
          </h1>
          <% else %>
          <h1 style="color:red">
            Table TBD
          </h1>
          <% end %>
        </center>
      </div>
    </div>
  </div>
</div>

<br>
