<h1>Mailing</h1>

<% if @emails.empty? %>
    <center><img src="https://image.flaticon.com/icons/svg/33/33404.svg" style="width: 10%;height: 10%" alt="">
    <h4>There aren't any emails... Yet.</h4></center>
    <% else %>
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Subject</th>
        <th>Message</th>
        <th>Mailing List</th>
        <th>Status</th>
        <th>Sent by</th>
        <th>Created at</th>
      </tr>
      </thead>

      <tbody>
      <% @emails.each do |email| %><a href=""></a>
          <tr>
            <td><%= link_to email.subject, email %></td>
            <td><%= email.message %></td>
            <td><%= email.mailing_list %></td>
            <td><%= email.status %></td>
            <td><%= email.sent_by %></td>
            <td><%= email.created_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<br>

<%= link_to 'Create New Email', new_email_path, class: 'btn btn-primary' %>


