<%= form_with(model: prize, local: true) do |form| %>
  <% if prize.errors.any? %>
    <div class="card">
          <div class="card-status bg-danger"></div>
          <div class="card-header">
            <h3 class="page-title">
            <%= pluralize(prize.errors.count, "error") %> prohibited this prize from being saved:
           </h3>
          </div>
        <div class="card-body projects-error-card-padding">
          <ul>
            <% prize.errors.full_messages.each do |message| %>
              <li><%= message.to_s.gsub(%r{[\[\]"]}, '').gsub(%r{\\n}, '')  %></li>
            <% end %>
          </ul>
        </div>
        </div>
  <% end %>

  <div class="form-group">
    <%= form.label :award, class:'control-label' %>
    <%= form.text_field :award, class: 'form-control', placeholder: 'Give it a award! Is this an Amazon Echo? A GTX 1080? ' %>
  </div>

  <div class="form-group">
    <%= form.label :title, class:'control-label' %>
    <%= form.text_area :title, class: 'form-control', placeholder: 'What do hackers need to do in order to win this prize? Use an API? Create a hack that helps people?' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class:'control-label' %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Describe the prize. You can just google a description for the item and paste it here...' %>
  </div>

  <div class="form-group">
    <%= form.label :sponsor, class:'control-label' %>
    <%= form.text_field :sponsor, class: 'form-control', placeholder: "Who is sponsoring the prize? Write #{HackumassWeb::Application::HACKATHON_NAME} otherwise" %>
  </div>

  <div class="form-group">
    <%= form.label :priority, class:'control-label' %> <br>
    <%= form.radio_button :priority, '1', :checked => true %> 
    <%= label :priority, 'High' %> <br>
    <%= form.radio_button :priority, '2' %>
    <%= label :priority, 'Medium' %> <br>
    <%= form.radio_button :priority, '3' %>
    <%= label :priority, 'Low' %> <br>
  </div>

  <div class="form-group">
    
    <%= form.check_box :project_selectable, {}, true %> <%= form.label :project_selectable, class:'control-label' %> <br>
    If selected, teams will be able to note that they are submitting a project for this prize. The text in the Title field will be used for the prize category.
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
