<div class="card-body">

    <noscript>
        Hello <%= current_user.first_name %>. It appears that you have Javascript disabled in your browser. While that might be
        prudent on some websites, you do need it enabled for full judging functionality on Dashboard. <br>
        Our code is open source, so you should be able to see that we aren't hiding anything sketchy :)
    </noscript>

    <div class="col-lg-8">
        <%= form_with(model: judgement, url: create_assignment_judging_index_path, local: true) do |form| %>

        <% if judgement.errors.any? %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Unable to Assign Judge To Project.</strong>
                <% judgement.errors.full_messages.each do |message| %>
                <p><%= message %></p>
                <% end %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>

        <!--
        These are hidden fields used by the controller. Please don't touch them without checking the create method of the judging controller! 
        -->

        <div class="form-group">
            <%= text_field_tag :project_id, "", class: 'form-control', value: params[:project_id], required: true, hidden: true %>
        </div>

        <div class="form-group">
            <%= text_field_tag :project_title, "", class: 'form-control', value: params[:project_title], required: true, hidden: true %>
        </div>

        <!-- End of hidden fields here -->

        <span>
            <h4 style="display:inline-block;"> Project: </h4>
            <p style="display:inline-block;"><%= params[:project_title] %></p>
        </span>

        <hr>

        <div class="form-group">
            <%= text_field_tag :email, "", class: 'form-control', placeholder: 'Email of Judge', required: true %>
        </div>

        <div class="actions">
            <%= form.submit "Assign Judge", class: 'btn btn-primary' %>
        </div>
        <% end %>
    </div>

</div>
