<%= form_for(@judgement, html: {multipart: true}) do |f| %>
    <% if (current_user.is_admin? or current_user.is_organizer?) and (params[:tag].nil? or params[:tag] == '') %>
        <div class="row mt-5 mb-5">
            <div class="col form-group">
                <b><%= f.label :tag, 'Describe this judgement with a tag. (optional)' %></b>
                <%= f.text_field :tag, class: 'form-control', required: false, placeholder: 'Tag', value: params[:tag], data: {autocomplete: autocomplete_prize_name_judging_index_path}  %>
            </div>
        </div>
        <hr>
    <% else %>
        <%= f.hidden_field :tag, value: params[:tag] %>        
    <% end %>
<style>
.judge_button_style {
    min-width: 200px;
}
</style>
    <% HackumassWeb::Application::JUDGING_CUSTOM_FIELDS.each do |c| %>
        <%= f.hidden_field :project_id, value: @project_id %>
        <%= f.fields_for :custom_scores, OpenStruct.new(@judgement.custom_scores) do |o| %>
            <div class="col-md-8">
                <h2 class="leading-loose d-inline"> <%= c['name'].titleize %>: </h2><br>
                <p class="leading-wide d-inline"> <%= o.label c['name'].to_sym, "#{c['label']}:" %> </p>
            </div>
            <br />
            <% if c['type'] == 'button' %>
                <div class="row row-cards row-deck">
                    <% c['scores'].each do |cate| %>
                        <div class="col-md-3 judge_button_style">
                        <label id="<%= c['name'] %>_check%" class="card">
                            <%= o.radio_button c['name'].to_sym, "#{cate['points']}", {class: 'form-control custom-select card-input-element d-none hidden'} %>                          
                            <div class="judge_button">
                                <div class="card-body text-center">
                                <div class="display-4 my-3"> <%= cate['points'] %><h5 class="d-inline">pts.</h5> </div>
                                <%= cate['description'] %>
                            </div>
                            </div>
                        </label>
                        </div>
                    <% end %>
                </div>
            <% elsif c['type'] == 'range' %>
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <p> Current Rating: <br/> <div class="text-center"><output id="<%= c['name'] %>_value" class="display-4 my-2" > 0 </output>pts. </div> </h6>
                    </div>
                    <div class="col-md-7">
                        <h6> Description: </h6> <output id="<%= c['name'] %>_desc" >Please slide to an appropriate value </output>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <%= o.range_field c['name'].to_sym, :min=>"0",
                        :max=>c['scores'][-1]['points'], :height=>"2em", :class=>"custom-range", :step=>"1", :id=>"#{c['name']}_slider",
                        :oninput=>"changeSliderOutput(#{c['name']}_value, #{c['name']}_desc, #{c['name']}_slider, #{c['scores'].to_json})" %>
                    </div>
                </div>
            <% elsif c['type'] == 'range_restricted' %>
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <h6> Current Rating: <br/> <div class="text-center"><output id="<%= c['name'] %>_value" class="display-4 my-2" > 0 </output>pts. </div> </h6>
                    </div>
                    <div class="col-md-7">
                        <h6> Description: </h6> <output id="<%= c['name'] %>_desc" >Please slide to an appropriate value </output>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <%= o.range_field c['name'].to_sym, :min=>"0",
                        :max=>c['scores'][-1]['points'], :class=>"custom-range", :step=>c['step'], :id=>"#{c['name']}_slider",
                        :oninput=>"changeSliderOutput(#{c['name']}_value, #{c['name']}_desc, #{c['name']}_slider, #{c['scores'].to_json})" %>
                    </div>
                </div>
            <% elsif c['type'] == 'dropdown' %>
                <%= o.select c['name'].to_sym, c['scores'].map{|item| [item['description'], item['points']]}, {include_blank: "Select an option below"}, {class: 'form-control custom-select'} %>                
            <% end %>
        <% end %>
    <% end %>

    <div class="">
    <br>
    <%= f.submit 'Submit Judgment', type: 'submit', class: 'float-right btn btn-primary bg-primary-color' %>
    </div>
<% end %> 