<br>
<h3> Judge Project </h3>
<!-- Alert user if they have been assigned this project. -->
<% if !@assignment.nil? %>
    <p class="text-green lead">You have been assigned this project to judge.</p>
<% else %>
    <p class="text-red lead mb-0">You have not been assigned this project to judge.</p>
    <p class="text-red text-small mt-0">(You may still submit a judgement)</p>
<% end %>
<% if @judgement.errors.any? %>
        <div class="card">
          <div class="card-status bg-danger"></div>
          <div class="card-header">
            <h3 class="page-title">
                <%=pluralize(@judgement.errors.count, 'error') %> prohibited this
                judgement from being submitted:
            </h3>
          </div>
          <div class="card-body event-judgement-error-card-padding">
            <ul>
              <% @judgement.errors.values.each do |message| %>
                <li>
                  <%= message.to_s.gsub(%r{[\[\]"]}, '').gsub(%r{\\n}, '') %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
<% if !@judgement.errors.any? %>
    <div class="card">
        <div class="card-header"> <h1 class="card-title font-weight-bold"> Title: <%= @project['title'].titleize %> </h1> </div>
        <div class="card-body"> <p> Description: <%= @project['description'] %> </p> </div>
    </div>
<% end %>

<%= render "judging_fields", judgement: @judgement, project: @project_id %>
