<!DOCTYPE html>
<html>
  <head>
    <title><%= HackumassWeb::Application::HACKATHON_NAME %> Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <% if HackumassWeb::Application::FAVICON_URL != nil %>
      <%= favicon_link_tag HackumassWeb::Application::FAVICON_URL %>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: :page_specific, action: action_name, controller: controller_name %>
  </head>

  <body>

    <div class="page">
        <div class="page-main">
          <!-- Only show navigation if user is logged in... -->
          <% if user_signed_in? %>
            <%= render 'shared/navigation' %>
          <% end %>

          <div class="container">
            <% flash.each do |type, message| %>
                <div class="alert <%= bootstrap_class_for(type)%> alert-dismissible" style="margin-top: 3%">
                  <button class="close" data-dismiss="alert"></button>
                  <%= message %>
                </div>
            <% end %>

            <!-- This is where every component will load -->
            <%= yield %>
          </div>
    </div>
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
  </div>

  </body>
</html>
